nav.tabs {
    a {
        margin-right: 1em;
        padding: 0.3em;

        &.current {
            background: #85c5e5;
            border: #85c5e5 solid 1px;
            color: white;
        }
    }
}
