.pat-datetime-picker__wrapper {
    input[type="date"],
    input[type="time"] {
        position: relative;
        display: inline-block;
        margin-right: 0.5em;
    }
    input[type="date"] {
        width: auto;
    }
    input[type="time"] {
        width: 10em;
    }
    button._now {
        margin-right: 0.2em;
    }
}
