*.css.map
*.log
*.swo
*.swp
*~
.DS_Store
.bundle
.sass-cache
/paternslib.sublime-project
/paternslib.sublime-workspace
/stamp-yarn
Gemfile.lock
cache/
coverage/
dist/
node_modules/
src/pat/**/*.css
stats.html
stats.json
test-reports
webpack/cache/
