[submodule "src/lib/jquery.form"]
	path = src/lib/jquery.form
	url = git://github.com/chaoflow/form.git
[submodule "lib/requirejs"]
	path = lib/requirejs
	url = git://github.com/chaoflow/requirejs.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = git://github.com/chaoflow/qunit.git
[submodule "lib/pavlov"]
	path = lib/pavlov
	url = git://github.com/chaoflow/pavlov.git
[submodule "lib/phantom-jasmine"]
	path = lib/phantom-jasmine
	url = git://github.com/jcarver989/phantom-jasmine.git
