*.css.map
*.swo
*.swp
*~
.bundle
.sass-cache
/node_modules
/paternslib.sublime-project
/paternslib.sublime-workspace
/src/bower_components
/stamp-bower
/stamp-bundler
/stamp-npm
/stamp-tinymce
Gemfile.lock
build-custom.js
bundle.js
src/patterns-custom.js
test-reports

src/pat/auto-scale/auto-scale.css
src/pat/auto-submit/auto-submit.css
src/pat/autofocus/autofocus.css
src/pat/bumper/bumper.css
src/pat/calendar/calendar.css
src/pat/carousel/carousel.css
src/pat/checked-flag/checked-flag.css
src/pat/checklist/checklist.css
src/pat/clone/clone.css
src/pat/collapsible/_collapsible.css
src/pat/collapsible/collapsible.css
src/pat/depends/depends.css
src/pat/edit-tinymce/edit-tinymce.css
src/pat/equaliser/equaliser.css
src/pat/expandable-tree/expandable-tree.css
src/pat/focus/focus.css
src/pat/forward/forward.css
src/pat/gallery/gallery.css
src/pat/grid/grid.css
src/pat/image-crop/image-crop.css
src/pat/inject-history/inject-history.css
src/pat/inject/inject.css
src/pat/markdown/markdown.css
src/pat/masonry/masonry.css
src/pat/modal/modal.css
src/pat/navigation/navigation.css
src/pat/notification/notification.css
src/pat/slides/style/fontello/css/fontello-embedded.css
src/pat/slides/style/fontello/css/fontello.css
src/pat/slideshow-builder/slideshow-builder.css
src/pat/sortable/sortable.css
src/pat/stacks/stacks.css
src/pat/switch/switch.css
src/pat/toggle/toggle.css
src/pat/tooltip/tooltip.css
src/pat/validate/validate.css
src/pat/zoom/zoom.css
