[submodule "src/lib/jquery.mutations"]
	path = src/lib/jquery.mutations
	url = git@github.com:chaoflow/jquery.mutation-events.git
[submodule "lib/jasmine-jquery"]
	path = lib/jasmine-jquery
	url = git://github.com/velesin/jasmine-jquery.git
[submodule "lib/jasmine"]
	path = lib/jasmine
	url = git://github.com/pivotal/jasmine.git
[submodule "src/lib/dist/history.js"]
	path = src/lib/dist/history.js
	url = git://github.com/balupton/history.js.git
[submodule "src/lib/jquery.form"]
	path = src/lib/jquery.form
	url = git://github.com/chaoflow/form.git
[submodule "src/lib/aloha"]
	path = src/lib/aloha
	url = git://github.com/chaoflow/Aloha-Editor.git
[submodule "lib/requirejs"]
	path = lib/requirejs
	url = git://github.com/chaoflow/requirejs.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = git://github.com/chaoflow/qunit.git
[submodule "lib/pavlov"]
	path = lib/pavlov
	url = git://github.com/chaoflow/pavlov.git
