*.css.map
*.log
*.swo
*.swp
*~
.bundle
.DS_Store
.env
.sass-cache
/paternslib.sublime-project
/paternslib.sublime-workspace
/stamp-yarn
cache/
coverage/
dist/*.zip
Gemfile.lock
node_modules/
src/pat/**/*.css
stats.html
stats.json
test-reports
webpack/cache/
