@import url("common.css");

@import url("../demo/auto-submit/autosubmit.css");

@import url("../demo/auto-suggest/autosuggest.css");

@import url("../demo/autofocus/autofocus.css");

@import url("../demo/calendar/calendar.css");

@import url("../demo/carousel/carousel.css");

@import url("../demo/checked-flag/checkedflag.css");

@import url("../demo/collapsible/collapsible.css");

@import url("../demo/grid/grid.css");

@import url("../demo/modal/modal.css");

@import url("../demo/navigation/navigation.css");

@import url("../demo/switch/switch.css");

@import url("../demo/toggle/toggle.css");

@import url("../demo/tooltip/tooltip.css");

@font-face {
	font-family: "Perpetua bold italic";
	src: url("fonts/Perpetua Bold Italic.ttf")
}

body {
	width: 100%;
	max-width: 100%;
	margin: 0;
	display: block;
	float: left;
	padding: 0;
}

/* @group News */

#news .introduction {
	float: left;
	width: 70%;
	margin-bottom: 30px;
}

#button-slides {
	float: right;
	font-size: 20px;
	color: #6a6a6a;
	padding: 10px 20px 10px 93px;
	border-radius: 4px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	position: relative;
	cursor: pointer;
	user-select:none;
}

#button-slides:active {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2)	
}

#button-slides:after {
	content: " ";
	width: 49px;
	height: 35px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 35px;
	background-image: url(icon-slides.png);
}

#button-slides:before {
	position: absolute;
	left: 10px;
}



/* @end */

#content {
	clear: both;
	width: 940px;
	padding-right: 80px;
	padding-left: 80px;
}

#content section {
	clear: both;
	margin-bottom: 0;
	position: relative;
	/*background-image: url(texture-light-grain.png);*/
	padding: 30px 0 0;
}

#content section:after {
	content: " ";
	clear: both;
	display: block;
	background: url(slith.png) no-repeat center bottom;
	width: 100%;
	height: 30px;
	background-size: 100% auto;
	margin-top: 30px;
}

#global-navigation {
	position: static;
}

/* @group Logo */

#site-header #logo {
	width: auto;
	margin-top: auto;
	display: inline-block;
	transition: all 0.2s;
}



/* @end */

/* @group Auto scale */

.pat-auto-scale {	
	transform-origin: left top;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.pat-auto-scale.scaled {
	opacity: 1;
}



/* @end */

/* @group Section download */

#download {
	padding-bottom: 40px;
}

#download .download-options {
		background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border-radius: 4px;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border: 1px solid #e0e0e0;
}

#download .columns {
	text-shadow: white 0 1px 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	height: 180px;
}

#download .columns p {
	font-size: 10px;
	line-height: 20px;
	margin-bottom: 12px;
}

#download .columns h3 {
	font-size: 18px;
	margin-bottom: 8px;
}

#download textarea.url {
	width: 100%;
	font-size: 9px;
	line-height: 12px;
	padding: 6px;
	height: 64px;
}

.clone-patterns-large img {
	margin-top: 25px;
}

a.download-patterns-large,
a.clone-patterns-large {
	text-decoration: none;
}

.download-patterns-large a:hover,
.clone-patterns-large a :hover {
	text-decoration: underline;
}

.download-patterns-large em.label {
	clear: left;
	display: block;
	font-weight: bold;
	color: #838383;
	font-size: 12px;
	text-align: center;
	padding-top: 8px;
	font-style: normal;
}



/* @end */

/* @group Site header */

/*body:before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 469px;
	display: block;
	background-size: 100% auto;
	border-bottom: 10px solid #8A637A;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	background-color: rgb(226,211,182);  Old browsers 
	z-index: 1;
	border-top: 1px solid #bfb197;
}*/

#site-header {
	width: 100%;
	z-index: 10;
	
	position: relative;
	margin: 20px 0 40px;
	border-top: 1px solid silver;
	box-shadow: 0 1px 4px gray;
}

#site-header > img {
	width: 100%;
	display: block;
}

#site-header .acquire {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 255px;
	padding-left: 10px;
}

#site-header .acquire a {
	margin-right: 40px;
	display: inline-block;
}

#site-header .acquire a img {
	max-width: 140px;
}

#site-header blockquote {
	color: #7f7c79;
	text-shadow: white 0 1px 0;
	line-height: 1.8;
	font-size: 20px;
	padding-left: 500px;
	padding-right: 50px;
	width: 450px;
	margin: -40px 0 -500px -50px;
	position: absolute;
	top: 50%;
	display: block;
}

@media (max-width: 570px) {

#site-header {
	background-size: auto 50%;
}

#site-header .acquire {
	margin-left: 0;
	text-align: center;
	top: 220px;
}
}



/* @end */

/* @group Site footer */

#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}



/* @end */

/* @group Image */

img {
	max-width: 100%;
}



/* @end */

/* @group Paragraph */

p {
	margin-top: 0;
	margin-bottom: 24px;
}



/* @end */

/* @group Anchor */

a {
	color: #325974;
}



/* @end */

/* @group UPSs */

ol.usps {
	list-style-type: none;
	margin: 0 0 22px;
	padding: 0;
	overflow: hidden;
	position: relative;
    counter-reset: steps 0; 
}

ol.usps li {
	width: 33.333333%;
	padding-top: 190px;
	vertical-align: top;
	float: left;
	margin: 0;
	padding-left: 0;
}

ol.usps li:before {
	content: " ";
	width: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	background-color: silver;
}

ol.usps li p:before {
	width: 72px;
	height: 72px;
	content: "1";
	display: block;
	top: -138px;
	position: absolute;
	margin-left: -39px;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	border-radius: 50%;
	border: 3px dashed #5a5a5a;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
	text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	
	counter-increment: steps 1;  
    content: counter(steps);
	left: 50%;
	font: bold 38px/77px "Perpetua bold italic";
}

ol.usps li:first-child:before {
	display: none;
}

ol.usps li p {
	padding-left: 8%;
	padding-right: 8%;
	position: relative;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
}

@media (max-width: 767px) {

ol.usps li {
	clear: both;
	width: 100%;
}

ol.usps li p {
	padding-left: 0;
	padding-right: 0;
}

ol.usps li:before {
	display: none;
}
}



/* @end */

/* @group Components list */

.components-list {
	float: left;
	width: 27%;
	margin-right: 3%;
	font-size: 12px;
	line-height: 20px;
	border-left: 1px solid silver;
}

.components-list a {
	display: block;
	text-decoration: none;
	padding: 1px 10px;
}

.components-list a:hover {
	background-color: rgba(0,0,0,0.07);
}

.components-list a.current {
	background-color: rgba(0,0,0,0.07);
}



/* @end */

/* @group Basic Patterns styles */

/* @group Typography */

ul,ol,p,table,dl {
	margin-bottom: 24px;
}



/* @end */

/* @group Headers */

h1 {
	font-size: 30px;
	margin-bottom: 24px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 1px;
}



/* @end */

/* @group Floats */

.floatBefore {
	float: left;
}

.floatAfter {
	float: right;
}

img.floatBefore {
	margin-right: 10px;
}

img.floatAfter {
	margin-left: 10px;
}

p img {
	margin-top: 5px;
	margin-bottom: -5px;
}



/* @end */

/* @group Forms */

input[type="text"],
input[type="password"]
,textarea {
	vertical-align: baseline;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
	outline: none;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	font: 12px/20px Verdana, "Lucida Grande", Lucida, sans-serif;
	padding-left: 4px;
	display: inline-block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #dedede;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1px;
}

input[type="text"],input[type="password"] {
	line-height: 20px;
	width: 230px;
}

input[type="text"],textarea,label.superImpose {
	cursor: text;
}

label.superImpose,
.concise .superImpose {
	color: #707070;
	display: block;
	margin-left: 7px;
	margin-top: 1px;
	padding: 0 0 1px;
	position: absolute;
	white-space: nowrap;
	border-style: none;
}

input:focus,
textarea:focus {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background: -o-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background:-moz-linear-gradient(19% 75% 90deg,whiteFFF, whiteFFF, whiteFFF 100%);
	background: gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input[type="file"] {
	margin-left: 0px !important;
	background-image: none;
	background-color: transparent;
	border-style: none;
}

select {
	position: relative;
	top: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

input[type="checkbox"],
input[type="radio"]{
	background: none!important;
	border: none;
}

form fieldset em.message {
	clear: left;
	float: left;
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 3px 10px;
	color: red;
	font-weight: bold;
}

sup.required {
	color: red;
	display: inline-block;
	margin-top: -10px;
	font-weight: bold;
	font-size: 16px;
}

/* @group Info panels */

.concise .infoPanel {
	margin-left: -16px;
	z-index: 1000;
	position: absolute;
	left: 100%;
	top: auto;
	margin-top: 3px;
}

.concise .infoPanel.open {
	margin-top: 27px;
}

.comprehensive .infoPanel {
	top: 0;
	margin-left: -16px;
}

.comprehensive .infoPanel.open,
.concise .infoPanel.open {
	z-index: 999;
}

fieldset.richInput .infoPanel {
	top: -1px;
}

/* Next statement is to compensate for Firefox' absolute positioning behaviour where it counts in the padding with the positioning */

html.gecko .comprehensive .infoPanel {
	left: 65%;
}



/* @end */

/* @group Fieldsets */

fieldset {
	padding: 0 0 2px;
	border-style: none;
	margin: 0 0 20px;
}

fieldset p.question,
fieldset p.legend {
	width: 95% !important;
	font-weight: bold;
	color: #3f3f3f;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* @group Fieldset Concise */

fieldset.concise,
form.concise fieldset {
	clear: left;
	position: relative;
}

fieldset.concise p.question,
form.concise fieldset p.question,
fieldset.concise legend,
form.concise fieldset legend {
	width: auto;
	margin: 0;
	padding: 0;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}

fieldset.concise label,
form.concise label {
	position: relative;
	float: left;
	padding-right: 65%;
	width: 35%;
	left: 0;
	margin-bottom: 10px;
	padding-top: 1px;
}

form.concise fieldset label *,
fieldset.concise label *,
form.concise fieldset label *,
fieldset.concise label * {
	position: relative;
	vertical-align: top;
	max-width: 320px;
	left: 100%;
	margin-right: -200%;
	margin-left: 0;
	float: left;
}

form.concise fieldset label sup.required,
fieldset.concise label sup.required,
form.concise fieldset label sup.required,
fieldset.concise label sup.required {
	float: none;
	display: inline;
	position: static;
	line-height: 20px;
}

form.concise fieldset label input[type=checkbox],
fieldset.concise label input[type=checkbox] {
	top: 3px;
}

form.concise fieldset label select {
	top: 1px;
}

.concise label textarea {
	width: 170%;
}

.comprehensive textarea {
	width: 100%;
}

/* @end */

/* @group Fieldset Comprehensive */

fieldset.condensed p.question {
	width: auto;
	margin: 0;
	letter-spacing: 0;
	text-transform: none;
}

.comprehensive,
.comprehensive fieldset,
.concise fieldset.comprehensive,
.compact fieldset.comprehensive {
	width: 65%;
	clear: left;
	border-style: none;
	margin: 0;
	margin-bottom: 10px;
	padding-left: 35%;
	padding-bottom: 0;
	position: relative;
	padding-top: 1px;
}

fieldset.comprehensive legend {
	position: absolute;
	left: 260px;
	font-weight: normal;
	font-style: normal;
}

fieldset.comprehensive label,
form.comprehensive fieldset label,
form.concise fieldset.comprehensive label,
form.compact fieldset.comprehensive label {
	font-weight: normal;
	font-style: normal;
	position: static;
	margin: 0;
	border-style: none;
	width: auto;
	padding: 0;
	float: none;
}

.concise fieldset.comprehensive,
.condensed fieldset.comprehensive {
	border-bottom-style: none;
	margin: 0 0 10px;
	padding-bottom: 0 !important;
	padding-top: 1px;
	height: auto;
}

fieldset.comprehensive label *,
form.comprehensive fieldset label *,
form.concise fieldset.comprehensive label *,
form.compact fieldset.comprehensive label * {
	position: static;
	margin: 0;
	float: none;
}

fieldset.comprehenisve input[type="radio"],
.concise fieldset.comprehensive input[type="radio"] {
	margin-top: 3px;
}

fieldset.comprehenisve input[type="checkbox"],
.concise fieldset.comprehensive input[type="checkbox"] {
	margin-top: 3px;
}

fieldset.comprehensive p.question,
form.comprehensive fieldset p.question,
fieldset.comprehensive p.legend,
form.comprehensive fieldset p.legend,
form.concise fieldset.comprehensive p.question,
form.compact fieldset.comprehensive p.question {
	width: 48% !important;
	display: inline;
	text-align: left;
	padding: 0;
	position: relative;
	float: left;
	font-weight: normal;
	font-style: normal;
	color: black;
	margin: 0 0 0 -54%;
	text-transform: none;
	letter-spacing: 0;
}

fieldset.comprehensive label a.floatAfter {
	float: right;
	margin-right: 22px;
}

/* @end */

/* @group Fieldset Condensed */

fieldset.condensed,
form.condensed fieldset {
	clear: left;
	border-style: none;
	margin: 0 0 20px;
}

fieldset.condensed label,
form.condensed fieldset label {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	margin-bottom: 20px;
	float: left;
	clear: left;
}

fieldset.condensed label input,
form.condensed fieldset label input,
fieldset.condensed label textarea {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

fieldset.condensed fieldset p.question {
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @end */

/* @group Form Components */

/* @group date-eu */

.date-eu {

}

.date-eu label {
	display: none;
}

.date-eu input.day {
	width: 21px;
}

.date-eu input.year {
	width: 38px;
}

/* @end */

/* @group Radio List */

.radio-list {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.radio-list label {
	display: block;
	width: auto !important;
	padding-left: 18px !important;
}

.radio-list label input[type="radio"],
form.concise fieldset.radio-list label input[type="radio"] {
	margin-left: -18px;
	float: left;
}

.portlet .radio-list label input {
	margin-top: 2px !important;
}

/* @end */

/* @group Radio Row */

.radioRow {

}

.radioRow label,
label.radioRow {
	display: inline;
	width: auto !important;
	float: left;
	padding-right: 10px !important;
}

.radioRow input,
label.radioRow input {
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 0;
	position: static !important;
}

/* @end */

/* @group Input Row */

ul.inputRow,
ol.inputRow {
	display: inline;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

/* @end */

/* @group Input List */

ul.inputList,
ol.inputList,
ol.radio-list,
ul.radio-list,
ol.checkList,
ul.checkList {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

ul.inputList li,
ol.radio-list li,
ul.radio-list li,
ol.checkList li,
ul.checkList li {
	margin-left: 0;
	padding-left: 0;
	display: block;
}

/* @end */

/* @group Check List */

.checkList {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.checkList label,
html>body fieldset.comprehensive.checkList label {
	display: block;
	width: auto !important;
	padding-left: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.checkList label:hover {
	background-color: #efefef;
}

html>body fieldset.comprehensive.checkList label input {
	float: left;
	position: static !important;
	margin: 4px 5px 0 0 !important;
	margin-left: -20px!important;
}

.portlet .checkList input {
	margin-top: 3px;
}

.checkList .column-1-of-3,
.checkList .column-2-of-3,
.checkList .column-3-of-3 {
	padding: 0;
	float: left;
	width: 140px;
	clear: none;
	font-size: 10px;
}

/* @end */

/* @group Check Row */

ol.checkRow li,
ul.checkRow li,
ol.radioRow li,
ul.radioRow li {
	float: none;
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

ol.checkRow li label,
ul.checkRow li label,
ol.radioRow li label,
ul.radioRow li label {
	display: inline;
}

/* @end */

/* @end */

/* @end */

/* @group Focus pattern demo */

fieldset.pt-focus {
    background-color: #efefef;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

label.pt-focus {
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
	background-color: #ddeefe;
}

/* @end */

/* @group Checked flag */

label.pt-checked {
    color: #000;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

label.pt-unchecked {
    color: #ccc;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

/* @end */

/* @end */