/* @override http://patternslib.com/style/base.css */

@import url("common.css");

@import url("../demo/checklist/checklist.css");

@font-face {
	font-family: "Perpetua bold italic";
	src: url("fonts/Perpetua Bold Italic.ttf")
}

body {
	max-width: 100%;
	padding: 0;
}

#main
 {
	width: 940px;
	overflow: hidden;
	position: relative;
}

/* @group News */

#news .introduction {
	float: left;
	width: 70%;
	margin-bottom: 30px;
}

#button-slides {
	float: right;
	font-size: 20px;
	color: #6a6a6a;
	padding: 10px 20px 10px 93px;
	border-radius: 4px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	position: relative;
	cursor: pointer;
	user-select:none;
}

#button-slides:active {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2)	
}

#button-slides:after {
	content: " ";
	width: 49px;
	height: 35px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 35px;
	background-image: url(icon-slides.png);
}

#button-slides:before {
	position: absolute;
	left: 10px;
}



/* @end */

#content {
	clear: both;
	padding-right: 40px;
	padding-left: 40px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#content section {
	clear: both;
	margin-bottom: 0;
	position: relative;
	/*background-image: url(texture-light-grain.png);*/
	padding: 30px 0 0;
}

#content > section:after {
	content: " ";
	clear: both;
	display: block;
	background: url(slith.png) no-repeat center bottom;
	width: 100%;
	height: 30px;
	background-size: 100% auto;
	margin-top: 30px;
}

/* @group Download form */

form#download {
	padding-top: 20px;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 26px;
}

form#download:before {
	content: " ";
	background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-corner, #ababab, #000000 100%);
	background-image: -moz-radial-gradient(50% 0%, ellipse farthest-corner, #ababab, #000000 100%);
	background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-corner, #ababab, #000000 100%);
	position: absolute;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#component-index {
	overflow: hidden;
	height: 0;
	padding-top: 0;
}

.component-index {
	padding-left: 0;
	padding-right: 0;
	color: silver;
	padding-top: 0;
	transition: all 1s;
	overflow: hidden;
	max-width: 970px;
	margin-right: auto;
	margin-left: auto;
	transition: all 1s;
}

.component-index button {
	background-color: #595959;
	color: white;
	text-shadow: #000000 0px -1px 0px;
	border-color: #858585;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
	background-image: linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
}

.component-index .button-bar {
	border-style: none;
	padding-left: 5px;
	padding-right: 15px;
	opacity: 0;
	transition: opacity 1s;
}

/* @group Form header */

.component-index .functions {
	float: right;
	margin-top: -43px;
	position: relative;
	margin-right: 5px;
	opacity: 0;
	transition: opacity 1s;
}

#download:target .component-index .functions,
#download:target .component-index .button-bar {
	opacity: 1;
}

.component-index .bundle-type {
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 8px;
	border-style: none;
	display: inline-block;
}

.component-index .bundle-type label {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.state-home .component-index .functions,
.state-home .component-index .bundle-type,
.state-documentation .component-index .functions,
.state-documentation .component-index .bundle-type  {
	opacity: 0;
}

/* @end */

.component-index h2 {
	clear: both;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 5px;
	overflow: hidden;
	color: silver;
	transition: all 1s;
	-webkit-transition: all 1s;
	padding-left: 5px;
}

.state-home .component-index h2 {
	height: 0;
	margin: 0;
}

/* @group Labels */

@keyframes increase-z
{
0%   {z-index: 0;}
99.9%  {z-index: 0;}
100% {z-index: 1;}
}

#download:target .component-index .checklist label a{
	animation: increase-z 1s;
}

/* @end */

/* @group Label link */

#download:target .component-index .checklist label a {
	z-index: 0;
}

#download:target .component-index .checklist label a {
	left: 30px;
	z-index: -1;
}

/* @end */

.component-index .checklist {
	margin-bottom: 1em;}

.state-home .component-index .checklist {
	margin-bottom: 0;
}

.component-index .checklist label input {
	display: none; /*temporary*/
}



/* @end */

/* @group Postit */
        
.postit {
	position: relative;    
    padding: 1em; 
    margin: 0 10px 40px; 
	background-color: #fdfdc8;
	color: #6f5a44;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	display: block;
	border: 1px solid #e2e2e2;
}

.postit.pat-collapsible .panel-content {
	padding-bottom: 0;
}

.postit *:last-child {
	margin-bottom: 0;
}

.postit *:last-child:after {
	content: " ";
	clear: both;
	display: block;
}

.section-dashboard .postit.guide {
	background-color: rgba(0,0,0,0.77);
	border: 1px solid #414141;
	color: silver;
	background-image: none;
	padding-right: 1em;
}

.lt-ie9 .section-dashboard .postit.guide {
	background-color: #535353;
}

.section-dashboard .postit a {
	color: white;
	font-weight: bold;
}

.postit a,
aside.sidebar .postit a {
	color: #59676e;
	font-weight: bold;
}

        .postit:before,
        .postit:after {
            content:"";
            position:absolute; 
            z-index:-2;
        }

.postit.guide {
	display: none;
}

html.js .postit {
	display: block;
}

html.js .postit.guide.closed {
	display: none;
}

.postit.guide.pat-collapsible h3 {
	float: right;
	line-height: 22px;
	height: 16px;
	width: 16px;
	padding: 0;
	text-indent: -1000px;
	overflow: hidden;
	background: url(buttons-modal.png) center center;
	border-color: rgba(254,255,254,0.63);
	filter: none;
	border-radius: 4px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

.postit img.inline
 {
	height: 1em;
	vertical-align: text-bottom;
}
        
        /* Lifted corners */

        .lifted {
            -moz-border-radius:4px; 
                 border-radius:4px;
        }
        
        .lifted:before,
        .lifted:after { 
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);   
               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
            -webkit-transform:rotate(-3deg);    
               -moz-transform:rotate(-3deg);   
                -ms-transform:rotate(-3deg);   
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
}
        
        .lifted:after {
            right:10px; 
            left:auto;
            -webkit-transform:rotate(3deg);   
               -moz-transform:rotate(3deg);  
                -ms-transform:rotate(3deg);  
                 -o-transform:rotate(3deg);
                    transform:rotate(3deg);
}
        
        /* Curled corners */

        .curled {
            border:1px solid #efefef; 
            -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
                 border-radius:0 0 120px 120px / 0 0 6px 6px;
        }
      
        .curled:before,
        .curled:after {
            bottom:12px;
            left:10px;
            width:50%;
            height:55%;
            max-width:200px;
            -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
               -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
                    box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
            -webkit-transform:skew(-8deg) rotate(-3deg);
               -moz-transform:skew(-8deg) rotate(-3deg);
                -ms-transform:skew(-8deg) rotate(-3deg);
                 -o-transform:skew(-8deg) rotate(-3deg);
                    transform:skew(-8deg) rotate(-3deg);
        } 
      
        .curled:after { 
            right:10px; 
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg); 
               -moz-transform:skew(8deg) rotate(3deg);     
                -ms-transform:skew(8deg) rotate(3deg);     
                 -o-transform:skew(8deg) rotate(3deg); 
                    transform:skew(8deg) rotate(3deg);
        }
        
        /* Perspective */

        .perspective:before {
            left:80px;
            bottom:5px;
            width:50%;
            height:35%;
            max-width:200px;
            -webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
               -moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
                    box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
            -webkit-transform:skew(50deg);
               -moz-transform:skew(50deg);
                -ms-transform:skew(50deg);
                 -o-transform:skew(50deg);
                    transform:skew(50deg);
            -webkit-transform-origin:0 100%;
               -moz-transform-origin:0 100%;
                -ms-transform-origin:0 100%;
                 -o-transform-origin:0 100%;
                    transform-origin:0 100%;
        }
        
        .perspective:after {
            display:none;
        }
        
        /* Raised shadow - no pseudo-elements needed */
        
        .raised {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        
        /* Curved shadows */

        .curved:before {
            top:10px;
            bottom:10px;
            left:0;
            right:50%;
            -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-border-radius:10px / 100px;
            border-radius:10px / 100px;
        }
        
        .curved-vt-2:before {
            right:0;
        }
        
        .curved-hz-1:before {
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }

        .curved-hz-2:before {
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        
    



/* @end */

/* @group Workflow */

#patterns p {
	margin-right: 0;
	margin-left: 0;
}

#patterns p:before {
	font-size: 140px;
	text-align: center;
	text-shadow: black 0 -1px 1px;
	color: #C39658;
	list-style-position: outside;
	display: block;
	width: 100%;
	margin: 0 0 30px;
}

.workflow p {
	margin-right: 0;
	margin-left: 0;
}



/* @end */

/* @group Global navigation */

#global-navigation {
	position: relative;
	z-index: 1;
	margin-left: 0;
	margin-bottom: -40px;
	width: 100%;
	display: block;
	margin-top: 0;
	float: left;
}

#global-navigation.bumped-top {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
}

#global-navigation #home {
	z-index: 10;
	position: absolute;
	top: -450px;
	/*transition: top 1s;*/
}

#global-navigation #home.bumped-top {
	transition: none;	
}

#global-navigation #home img {
	width: 90px;
}

#documentation:target #global-navigation #home,
#download:target #global-navigation #home {
	top: -10px;
	transition: top 1s;
}

#documentation:target #global-navigation.bumped-top #home,
#download:target #global-navigation.bumped-top #home {
	top: 0px;
}



/* @end */

/* @group Logo */

#global-navigation #logo {
	width: auto;
	margin-top: auto;
	display: inline-block;
	transition: all 0.2s;
}



/* @end */

/* @group Auto scale */

.pat-auto-scale {	
	transform-origin: left top;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.-ms- #content.pat-auto-scale {
	zoom: 1 !important;
	margin-right: auto;
	margin-left: auto;
}

.pat-auto-scale.scaled {
	opacity: 1;
}



/* @end */

/* @group Site header */

#documentation {
	position: relative;
	margin: 0;
	box-shadow: 0 1px 4px gray;
	transition: all 1s;
}

#documentation:target #component-index,
#download:target #component-index {
	height: 1050px;
	padding-top: 145px;
}

#documentation > img {
	width: 100%;
	display: block;
}

#documentation blockquote {
	color: black;
	line-height: 1.8;
	font-size: 26px;
	display: block;
	padding: 160px 10% 0 50%;
	border-style: none;
	transition: height 1s;
	margin: 0;
	height: 280px;
	overflow: hidden;
	transition: all 1s;
	background: silver url(../media/hero-image.jpg) no-repeat center;
	background-size: 100% auto;
}

@media only screen and (max-width: 1133px) {

#documentation blockquote {
	background-size: auto 100% ;
} }

#documentation:target blockquote,
#download:target blockquote  {
	height: 0;
	padding-top: 0;
}

#documentation blockquote p {
	margin-left: -50px;
	text-shadow: white 0 0 10px;
}



/* @end */

/* @group Site footer */

#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}



/* @end */

/* @group Image */

img {
	max-width: 100%;
}



/* @end */

/* @group Paragraph */

p {
	margin-top: 0;
	margin-bottom: 24px;
}



/* @end */

/* @group Anchor */

a {
	color: #325974;
}



/* @end */