/* @override http://patternslib.com/style/base.css */

@import url("common.css");

@font-face {
	font-family: "Perpetua bold italic";
	src: url("fonts/Perpetua Bold Italic.ttf")
}

body {
	width: 100%;
	max-width: 100%;
	margin: 0;
	display: block;
	float: left;
	padding: 0;
}

/* @group News */

#news .introduction {
	float: left;
	width: 70%;
	margin-bottom: 30px;
}

#button-slides {
	float: right;
	font-size: 20px;
	color: #6a6a6a;
	padding: 10px 20px 10px 93px;
	border-radius: 4px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	position: relative;
	cursor: pointer;
	user-select:none;
}

#button-slides:active {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2)	
}

#button-slides:after {
	content: " ";
	width: 49px;
	height: 35px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 35px;
	background-image: url(icon-slides.png);
}

#button-slides:before {
	position: absolute;
	left: 10px;
}



/* @end */

#content {
	clear: both;
	width: 940px;
	padding-right: 80px;
	padding-left: 80px;
}

#content section {
	clear: both;
	margin-bottom: 0;
	position: relative;
	/*background-image: url(texture-light-grain.png);*/
	padding: 30px 0 0;
}

#content > section:after {
	content: " ";
	clear: both;
	display: block;
	background: url(slith.png) no-repeat center bottom;
	width: 100%;
	height: 30px;
	background-size: 100% auto;
	margin-top: 30px;
}

/* @group Postit */
        
.postit {
	position: relative;    
    padding: 1em; 
    margin: 0 10px 40px; 
	background-color: #fdfdc8;
	color: #6f5a44;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
	display: block;
	border: 1px solid #e2e2e2;
}

.postit.pat-collapsible .panel-content {
	padding-bottom: 0;
}

.postit *:last-child {
	margin-bottom: 0;
}

.postit *:last-child:after {
	content: " ";
	clear: both;
	display: block;
}

.section-dashboard .postit.guide {
	background-color: rgba(0,0,0,0.77);
	border: 1px solid #414141;
	color: silver;
	background-image: none;
	padding-right: 1em;
}

.lt-ie9 .section-dashboard .postit.guide {
	background-color: #535353;
}

.section-dashboard .postit a {
	color: white;
	font-weight: bold;
}

.postit a,
aside.sidebar .postit a {
	color: #59676e;
	font-weight: bold;
}

        .postit:before,
        .postit:after {
            content:"";
            position:absolute; 
            z-index:-2;
        }

.postit.guide {
	display: none;
}

html.js .postit {
	display: block;
}

html.js .postit.guide.closed {
	display: none;
}

.postit.guide.pat-collapsible h3 {
	float: right;
	line-height: 22px;
	height: 16px;
	width: 16px;
	padding: 0;
	text-indent: -1000px;
	overflow: hidden;
	background: url(buttons-modal.png) center center;
	border-color: rgba(254,255,254,0.63);
	filter: none;
	border-radius: 4px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

.postit img.inline
 {
	height: 1em;
	vertical-align: text-bottom;
}
        
        /* Lifted corners */

        .lifted {
            -moz-border-radius:4px; 
                 border-radius:4px;
        }
        
        .lifted:before,
        .lifted:after { 
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);   
               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
            -webkit-transform:rotate(-3deg);    
               -moz-transform:rotate(-3deg);   
                -ms-transform:rotate(-3deg);   
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
}
        
        .lifted:after {
            right:10px; 
            left:auto;
            -webkit-transform:rotate(3deg);   
               -moz-transform:rotate(3deg);  
                -ms-transform:rotate(3deg);  
                 -o-transform:rotate(3deg);
                    transform:rotate(3deg);
}
        
        /* Curled corners */

        .curled {
            border:1px solid #efefef; 
            -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
                 border-radius:0 0 120px 120px / 0 0 6px 6px;
        }
      
        .curled:before,
        .curled:after {
            bottom:12px;
            left:10px;
            width:50%;
            height:55%;
            max-width:200px;
            -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
               -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
                    box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
            -webkit-transform:skew(-8deg) rotate(-3deg);
               -moz-transform:skew(-8deg) rotate(-3deg);
                -ms-transform:skew(-8deg) rotate(-3deg);
                 -o-transform:skew(-8deg) rotate(-3deg);
                    transform:skew(-8deg) rotate(-3deg);
        } 
      
        .curled:after { 
            right:10px; 
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg); 
               -moz-transform:skew(8deg) rotate(3deg);     
                -ms-transform:skew(8deg) rotate(3deg);     
                 -o-transform:skew(8deg) rotate(3deg); 
                    transform:skew(8deg) rotate(3deg);
        }
        
        /* Perspective */

        .perspective:before {
            left:80px;
            bottom:5px;
            width:50%;
            height:35%;
            max-width:200px;
            -webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
               -moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
                    box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
            -webkit-transform:skew(50deg);
               -moz-transform:skew(50deg);
                -ms-transform:skew(50deg);
                 -o-transform:skew(50deg);
                    transform:skew(50deg);
            -webkit-transform-origin:0 100%;
               -moz-transform-origin:0 100%;
                -ms-transform-origin:0 100%;
                 -o-transform-origin:0 100%;
                    transform-origin:0 100%;
        }
        
        .perspective:after {
            display:none;
        }
        
        /* Raised shadow - no pseudo-elements needed */
        
        .raised {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        
        /* Curved shadows */

        .curved:before {
            top:10px;
            bottom:10px;
            left:0;
            right:50%;
            -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
            box-shadow:0 0 15px rgba(0,0,0,0.6);
            -moz-border-radius:10px / 100px;
            border-radius:10px / 100px;
        }
        
        .curved-vt-2:before {
            right:0;
        }
        
        .curved-hz-1:before {
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }

        .curved-hz-2:before {
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        
    



/* @end */

/* @group Workflow */

#patterns p:before {
	font-size: 140px;
	text-align: center;
	text-shadow: black 0 -1px 1px;
	color: #C39658;
	list-style-position: outside;
	display: block;
	width: 100%;
	margin: 0 0 30px;
}



/* @end */

/* @group Global navigation */

#global-navigation {
	position: static;
}

#global-navigation #home {
	top: -10px;
	position: absolute;
}



/* @end */

/* @group Logo */

#site-header #logo {
	width: auto;
	margin-top: auto;
	display: inline-block;
	transition: all 0.2s;
}



/* @end */

/* @group Auto scale */

.pat-auto-scale {	
	transform-origin: left top;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.-ms- #content.pat-auto-scale {
	zoom: 1 !important;
	margin-right: auto;
	margin-left: auto;
}

.pat-auto-scale.scaled {
	opacity: 1;
}



/* @end */

/* @group Section download */

#download {
	padding-bottom: 40px;
}

#download .download-options {
		background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
border-radius: 4px;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border: 1px solid #e0e0e0;
}

#download .columns {
	text-shadow: white 0 1px 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	height: 180px;
}

#download .columns p {
	font-size: 10px;
	line-height: 20px;
	margin-bottom: 12px;
}

#download .columns h3 {
	font-size: 18px;
	margin-bottom: 8px;
}

#download textarea.url {
	width: 100%;
	font-size: 9px;
	line-height: 12px;
	padding: 6px;
	height: 64px;
}

.clone-patterns-large img {
	margin-top: 25px;
}

a.download-patterns-large,
a.clone-patterns-large {
	text-decoration: none;
}

.download-patterns-large a:hover,
.clone-patterns-large a :hover {
	text-decoration: underline;
}

.download-patterns-large em.label {
	clear: left;
	display: block;
	font-weight: bold;
	color: #838383;
	font-size: 12px;
	text-align: center;
	padding-top: 8px;
	font-style: normal;
}



/* @end */

/* @group Site header */

/*body:before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 469px;
	display: block;
	background-size: 100% auto;
	border-bottom: 10px solid #8A637A;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	background-color: rgb(226,211,182);  Old browsers 
	z-index: 1;
	border-top: 1px solid #bfb197;
}*/

#site-header {
	width: 100%;
	z-index: 10;
	
	position: relative;
	margin: 20px 0 40px;
	border-top: 1px solid silver;
	box-shadow: 0 1px 4px gray;
}

#site-header > img {
	width: 100%;
	display: block;
}

#site-header .acquire {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 255px;
	padding-left: 10px;
}

#site-header .acquire a {
	margin-right: 40px;
	display: inline-block;
}

#site-header .acquire a img {
	max-width: 140px;
}

#site-header blockquote {
	color: #7f7c79;
	text-shadow: white 0 1px 0;
	line-height: 1.8;
	font-size: 20px;
	padding-left: 500px;
	padding-right: 50px;
	width: 450px;
	margin: -40px 0 -500px -50px;
	position: absolute;
	top: 50%;
	display: block;
}

@media (max-width: 570px) {

#site-header {
	background-size: auto 50%;
}

#site-header .acquire {
	margin-left: 0;
	text-align: center;
	top: 220px;
}
}



/* @end */

/* @group Site footer */

#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}



/* @end */

/* @group Image */

img {
	max-width: 100%;
}



/* @end */

/* @group Paragraph */

p {
	margin-top: 0;
	margin-bottom: 24px;
}



/* @end */

/* @group Anchor */

a {
	color: #325974;
}



/* @end */