/* @group Colours */

@primary-1: #3D617E;
@primary-2: #2F383F;
@primary-3: #192631;
@primary-4: #9CC3E3;
@primary-5: #C1D4E3;

@complement-1: #C39658;
@complement-2: #625647;
@complement-3: #33291A;
@complement-4: #E7CFAE;
@complement-5: #F2E2CB;

/* end */


body {
	margin:0; padding: 2em;
	background:white;
	color: #666;
	font: 75%/1.33 Verdana, sans-serif;
	text-align:left;
	}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	}

.color-table {
	margin: 2em 2em 5em;
	border-collapse:collapse;
	border:none;
	border-spacing:0;
	font-size:100%;
	}
.color-table th {
	padding: 0 1em 0 0;
	text-align:right;
	vertical-align: middle;
	font-size:110%;
	border: none;
	}
.color-table td.sample {
	width:10em; height:8em;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	border: 1px solid white;
	white-space:nowrap;
	}
.color-table.small td.sample {
	width:4em; height:4em;
	padding:0;
	border:none;
	}
.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

hr {
	border:none;
	border-bottom:1px solid silver;
	}
#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}



/* @end */

body {
	width: auto;
	position: relative;
	padding-top: 70px;
	/*background-image: url(texture-light-grain.png);*/
	font: 16px/2 "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #525151;
	padding-left: 0;
	margin: 0;
	background-color: #efefef;
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0;
}

@font-face {
	font-family: "Perpetua bold italic";
	src: url("fonts/Perpetua Bold Italic.ttf")
}

/* @group Data source */

div[data-src] {
	position: relative;
}

div[data-src]:hover:after {
	background-color: @complement-1;	content: attr(data-src);
	position: absolute;
	padding-right: 10px;
	font-size: 10px;
	padding-left: 10px;
	border: 1px solid #dfbf94;
	color: #72624c;
	top: 10px;
	right: 10px;
	border-radius: 20px;
	line-height: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-shadow: rgba(254,255,255,0.72) 0 1px 0;
}



/* @end */

/* @group Appendix */

#appendix {
	text-align: center;
	padding-bottom: 40px;
	font-size: 12px;
}

#appendix a {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	text-decoration: none;
}



/* @end */

/* @group Blockquote */

blockquote {
	color: #3c3c3c;
	text-shadow: white 0 1px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	border-left: 4px solid silver;
	margin-left: 0;
	padding-left: 12px;
}



/* @end */

/* @group Inline code */

p code {
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.10);
	border-radius: 4px;
	color: #5e5e5e;
	text-shadow: #eaeaea 0 1px 0;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #d3d3d3;
	line-height: 1.6;
}



/* @end */

/* @group Code preview */

pre {
	background-color: #e8e8e8;
	border: 1px solid #d3d3d3;
	padding: 10px;
	overflow: auto;
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.10);
	border-radius: 4px;
	color: #5e5e5e;
	text-shadow: #eaeaea 0 1px 0;
}



/* @end */

/* @group Siteheader */

#site-header img,#site-header blockquote {
	display: none;
}



/* @end */

/* @group Description section */

section.description {
	margin-bottom: 40px;
}



/* @end */

/* @group Demo section */

section.demo {
	padding: 20px;
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.10);
	margin-bottom: 40px;
	border-radius: 4px;
	background-color: white;
	border: 1px solid #d3d3d3;

}



/* @end */

/* @group Logo */

#logo {
	width: 100px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	width: 46px;
	margin-top: -18px;
}



/* @end */

/* @group Global navigation */

#global-navigation {
	background-color: #925d79;
	color: white;
	text-align: center;
	line-height: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

#global-navigation.bumped-top {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
}

#global-navigation #home {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	z-index: 1;
	text-align: center;
	background-color: transparent;
	top: -10px;
}

#global-navigation #home img {
	transition: all 0.3s;
}

#global-navigation.bumped-top #home img {
	width: 46px;
	margin-top: -18px;
}

#global-navigation #home.bumped-top {
	position: fixed;
	top: 0;
}

#global-navigation a {
	color: rgba(254,255,255,0.73);
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 50%;
	text-align: center;
}

#global-navigation a:hover {
	background-color: rgba(0,0,0,0.18);
}



/* @end */

/* @group Component index */

#component-index {
	float: left;
	border: 1px solid silver;
	margin-top: 60px;
	margin-bottom: 40px;
	
	
	padding: 33px 20px 25px;
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
	margin-bottom: 40px;
	border-radius: 4px;
	background-color: white;
}

#component-index h4 {
	clear: both;
	font-size: 16px;
	margin-top: 0;
}

#demo #component-index {
	margin-top: 0;
}

#component-index a {
	float: left;
	font-size: 12px;
	background-color: #efefef;
	padding: 0;
	text-decoration: none;
	color: gray;
	transition: transform 0.2s;
	line-height: 48px;
	margin-bottom: 20px;
	border: 1px solid #e2e2e2;
	width: 20.8%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 26px;
	margin-right: 1.9%;
	margin-left: 2%;
}

#component-index .behavioural a {
	background-color: #3d607e;
	color: white;
}

#component-index .navigation a {
	background-color: #c37757;
	color: white;
}

#component-index .layout a {
	background-color: #915e79;
	color: white;
}

#component-index .forms a {
	background-color: #9ba476;
	color: white;
}

#component-index .fancy-stuff a {
	background-color: #a59baf;
	color: white;
}

#component-index a.current {
	outline: solid 2px black;
}

#component-index a:before {
	content: " ";
	width: 32px;
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	margin: -5px 10px -3px 8px;
	border-radius: 50%;
	background: white url(../style/component-icons.svg) no-repeat 0 32px;
	border: 1px solid white;
	box-shadow: inset 0 1px 3px silver;
}

#component-index a sup {
	display: none;
}

#component-index .ajax:before {
	background-position: 0 -416px;
}

#component-index .switching:before {
	
}

#component-index .autofocus:before {
	background-position: 0 0;
}

#component-index .auto-load:before {
	
}

#component-index .auto-submit:before {
	background-position: 0 -32px;
}

#component-index .auto-suggest:before {
	background-position: 0 -64px;
}

#component-index .carousel:before {
	background-position: 0 -96px;
}

#component-index .full-calendar:before {
	background-position: 0 32px;
}

#component-index .toggle:before {
	background-position: 0 -480px;
}

#component-index .collapsible:before {
	background-position: 0 -128px;
}

#component-index .depends:before {
	background-position: 0 -160px;
}

#component-index .tree:before {
	background-position: 0 -192px;
}

#component-index .focus:before {
	background-position: 0 32px;
}

#component-index .form-validation:before {
	background-position: 0 -225px;
}

#component-index .checked-flag:before {
	background-position: 0 -450px;
}

#component-index .checkboxes:before {
	background-position: 0 -255px;
}

#component-index .menu:before {
	background-position: 0 32px;
}

#component-index .modal-panel:before {
	background-position: 0 -287px;
}

#component-index .navigation-marker:before {
	background-position: 0 32px;
}

#component-index .multi-combobox:before {
	background-position: 0 32px;
}

#component-index .placeholder:before {
	background-position: 0 32px;
}

#component-index .self-healing:before {
	background-position: 0 -352px;
}

#component-index .breadcrumbs:before {
	background-position: 0 -320px;
}

#component-index .sorting:before {
	background-position: 0 -383px;
}

#component-index .tooltip:before {
	background-position: 0 32px;
}

#component-index .zoom:before {
	background-position: 0 32px;
}



/* @end */

/* @group Messages */

.message {
	padding: 8px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	display: block;
}

.message *:last-child {
	margin-bottom: 0;
}

.message.notice {
	background-color: #fdfdc8;
	color: #6f5a44;
	border: 1px solid #d3d4a7;
	padding: 9px;
}

.message.success {
	background-color: #b4ff8e;
	color: #405f31;
}

.message.warning {
	background-color: #ff8100;
	color: white;
}

.message.warning * {
	color: white !important;
}

.message.error {
	background-color: red;
	color: white;
}

.message.error * {
	color: white !important;
}

/* @group Form messages */

.concise .message {
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.comprehensive .message {
	width: 100%;
}

.concise .message.warning {
	background-color: transparent;
	color: #ff8100;
}

/* @end */

/* @group Self healings */

#selfhealing-messages {
  position: fixed;
  top: 15px;
  width: 320px;
  z-index: 10;
	left: 15px;
}

#selfhealing-messages div {
 	background-color: rgba(0,0,0,0.8);
  	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px;
  	border-radius: 5px; /* CSS3 */
	border: 1px solid gray;
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	margin-bottom: 10px;
	padding: 10px;
}

#selfhealing-messages div {
	color: #cccccc;
	padding: 7px;
}

#selfhealing-messages div p {
	margin: 0;
}
/* @end */



/* @end */

/* @group Injection */

.injection-loading {
	opacity: 0;
}



/* @end */

/* @group Typography */

ul,ol,p,table,dl,pre {
	margin-bottom: 24px;
}

h1 {
	font-family: "Perpetua bold italic";
	margin-top: 0;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 0;
}



/* @end */

/* @group Headers */

h1 {
	font-size: 30px;
	margin-bottom: 24px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 1px;
}



/* @end */

/* @group Anchor */

a {
	color: #7291ff;
}



/* @end */

/* @group Floats */

.floatBefore {
	float: left;
}

.floatAfter {
	float: right;
}

img.floatBefore {
	margin-right: 10px;
}

img.floatAfter {
	margin-left: 10px;
}

p img {
	margin-top: 5px;
	margin-bottom: -5px;
}



/* @end */

/* @group Forms */

input[type="text"],
input[type="password"]
,textarea {
	vertical-align: baseline;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
	outline: none;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	font: 12px/20px Verdana, "Lucida Grande", Lucida, sans-serif;
	padding-left: 4px;
	display: inline-block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #dedede;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1px;
}

input[type="text"],input[type="password"] {
	line-height: 20px;
	width: 230px;
}

input[type="text"],textarea,label.superImpose {
	cursor: text;
}

label.superImpose,
.concise .superImpose {
	color: #707070;
	display: block;
	margin-left: 7px;
	margin-top: 1px;
	padding: 0 0 1px;
	position: absolute;
	white-space: nowrap;
	border-style: none;
}

input:focus,
textarea:focus {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background: -o-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background:-moz-linear-gradient(19% 75% 90deg,whiteFFF, whiteFFF, whiteFFF 100%);
	background: gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input[type="file"] {
	margin-left: 0px !important;
	background-image: none;
	background-color: transparent;
	border-style: none;
}

select {
	position: relative;
	top: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

input[type="checkbox"],
input[type="radio"]{
	background: none!important;
	border: none;
}

form fieldset em.message {
	clear: left;
	float: left;
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 3px 10px;
	color: red;
	font-weight: bold;
}

sup.required {
	color: red;
	display: inline-block;
	margin-top: -10px;
	font-weight: bold;
	font-size: 16px;
}

/* @group Info panels */

.concise .infoPanel {
	margin-left: -16px;
	z-index: 1000;
	position: absolute;
	left: 100%;
	top: auto;
	margin-top: 3px;
}

.concise .infoPanel.open {
	margin-top: 27px;
}

.comprehensive .infoPanel {
	top: 0;
	margin-left: -16px;
}

.comprehensive .infoPanel.open,
.concise .infoPanel.open {
	z-index: 999;
}

fieldset.richInput .infoPanel {
	top: -1px;
}

/* Next statement is to compensate for Firefox' absolute positioning behaviour where it counts in the padding with the positioning */

html.gecko .comprehensive .infoPanel {
	left: 65%;
}



/* @end */

/* @group Fieldsets */

fieldset {
	padding: 0 0 2px;
	border-style: none;
	margin: 0 0 20px;
}

fieldset p.question,
fieldset p.legend {
	width: 95% !important;
	font-weight: bold;
	color: #3f3f3f;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* @group Fieldset Concise */

fieldset.concise,
form.concise fieldset {
	clear: left;
	position: relative;
}

fieldset.concise p.question,
form.concise fieldset p.question,
fieldset.concise legend,
form.concise fieldset legend {
	width: auto;
	margin: 0;
	padding: 0;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}

fieldset.concise label,
form.concise label {
	position: relative;
	float: left;
	padding-right: 65%;
	width: 35%;
	left: 0;
	margin-bottom: 10px;
	padding-top: 1px;
}

form.concise fieldset label *,
fieldset.concise label *,
form.concise fieldset label *,
fieldset.concise label * {
	position: relative;
	vertical-align: top;
	max-width: 320px;
	left: 100%;
	margin-right: -200%;
	margin-left: 0;
	float: left;
}

form.concise fieldset label sup.required,
fieldset.concise label sup.required,
form.concise fieldset label sup.required,
fieldset.concise label sup.required {
	float: none;
	display: inline;
	position: static;
	line-height: 20px;
}

form.concise fieldset label input[type=checkbox],
fieldset.concise label input[type=checkbox] {
	top: 3px;
}

form.concise fieldset label select {
	top: 1px;
}

.concise label textarea {
	width: 170%;
}

.comprehensive textarea {
	width: 100%;
}

/* @end */

/* @group Fieldset Comprehensive */

fieldset.condensed p.question {
	width: auto;
	margin: 0;
	letter-spacing: 0;
	text-transform: none;
}

.comprehensive,
.comprehensive fieldset,
.concise fieldset.comprehensive,
.compact fieldset.comprehensive {
	width: 65%;
	clear: left;
	border-style: none;
	margin: 0;
	margin-bottom: 10px;
	padding-left: 35%;
	padding-bottom: 0;
	position: relative;
	padding-top: 1px;
}

fieldset.comprehensive legend {
	position: absolute;
	left: 260px;
	font-weight: normal;
	font-style: normal;
}

fieldset.comprehensive label,
form.comprehensive fieldset label,
form.concise fieldset.comprehensive label,
form.compact fieldset.comprehensive label {
	font-weight: normal;
	font-style: normal;
	position: static;
	margin: 0;
	border-style: none;
	width: auto;
	padding: 0;
	float: none;
}

.concise fieldset.comprehensive,
.condensed fieldset.comprehensive {
	border-bottom-style: none;
	margin: 0 0 10px;
	padding-bottom: 0 !important;
	padding-top: 1px;
	height: auto;
}

fieldset.comprehensive label *,
form.comprehensive fieldset label *,
form.concise fieldset.comprehensive label *,
form.compact fieldset.comprehensive label * {
	position: static;
	margin: 0;
	float: none;
}

fieldset.comprehenisve input[type="radio"],
.concise fieldset.comprehensive input[type="radio"] {
	margin-top: 3px;
}

fieldset.comprehenisve input[type="checkbox"],
.concise fieldset.comprehensive input[type="checkbox"] {
	margin-top: 3px;
}

fieldset.comprehensive p.question,
form.comprehensive fieldset p.question,
fieldset.comprehensive p.legend,
form.comprehensive fieldset p.legend,
form.concise fieldset.comprehensive p.question,
form.compact fieldset.comprehensive p.question {
	width: 48% !important;
	display: inline;
	text-align: left;
	padding: 0;
	position: relative;
	float: left;
	font-weight: normal;
	font-style: normal;
	color: black;
	margin: 0 0 0 -54%;
	text-transform: none;
	letter-spacing: 0;
}

fieldset.comprehensive label a.floatAfter {
	float: right;
	margin-right: 22px;
}

/* @end */

/* @group Fieldset Condensed */

fieldset.condensed,
form.condensed fieldset {
	clear: left;
	border-style: none;
	margin: 0 0 20px;
}

fieldset.condensed label,
form.condensed fieldset label {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	margin-bottom: 20px;
	float: left;
	clear: left;
}

fieldset.condensed label input,
form.condensed fieldset label input,
fieldset.condensed label textarea {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

fieldset.condensed fieldset p.question {
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @end */

/* @group Form Components */

/* @group date-eu */

.date-eu {

}

.date-eu label {
	display: none;
}

.date-eu input.day {
	width: 21px;
}

.date-eu input.year {
	width: 38px;
}

/* @end */

/* @group Radio List */

.radio-list {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.radio-list label {
	display: block;
	width: auto !important;
	padding-left: 18px !important;
}

.radio-list label input[type="radio"],
form.concise fieldset.radio-list label input[type="radio"] {
	margin-left: -18px;
	float: left;
}

.portlet .radio-list label input {
	margin-top: 2px !important;
}

/* @end */

/* @group Radio Row */

.radioRow {

}

.radioRow label,
label.radioRow {
	display: inline;
	width: auto !important;
	float: left;
	padding-right: 10px !important;
}

.radioRow input,
label.radioRow input {
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 0;
	position: static !important;
}

/* @end */

/* @group Input Row */

ul.inputRow,
ol.inputRow {
	display: inline;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

/* @end */

/* @group Input List */

ul.inputList,
ol.inputList,
ol.radio-list,
ul.radio-list,
ol.checkList,
ul.checkList {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

ul.inputList li,
ol.radio-list li,
ul.radio-list li,
ol.checkList li,
ul.checkList li {
	margin-left: 0;
	padding-left: 0;
	display: block;
}

/* @end */

/* @group Check List */

.checkList {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.checkList label,
html>body fieldset.comprehensive.checkList label {
	display: block;
	width: auto !important;
	padding-left: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.checkList label:hover {
	background-color: #efefef;
}

html>body fieldset.comprehensive.checkList label input {
	float: left;
	position: static !important;
	margin: 4px 5px 0 0 !important;
	margin-left: -20px!important;
}

.portlet .checkList input {
	margin-top: 3px;
}

.checkList .column-1-of-3,
.checkList .column-2-of-3,
.checkList .column-3-of-3 {
	padding: 0;
	float: left;
	width: 140px;
	clear: none;
	font-size: 10px;
}

/* @end */

/* @group Check Row */

ol.checkRow li,
ul.checkRow li,
ol.radioRow li,
ul.radioRow li {
	float: none;
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

ol.checkRow li label,
ul.checkRow li label,
ol.radioRow li label,
ul.radioRow li label {
	display: inline;
}

/* @end */

/* @end */

/* @end */
