/* @override http://patternslib.com/style/common.css */

@import url("../demo/grid/grid.css");

@import url("fontello/css/fontello.css");

body {
	width: auto;
	position: relative;
	/*background-image: url(texture-light-grain.png);*/
	font: 14px/2em "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #525151;
	margin: 0;
	background-color: white;
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 20px;
}

@media only screen and (max-width: 767px) {

body {
	padding-right: 20px;
	padding-left: 20px;
} }

/* @group Buttons */

button,a.button {
	display: inline-block;
	border-style: none;
	margin: 0;
	background-color: #625647;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 4px;
}

button:hover,a.button:hover {
	background-color: #8c7b65;
	cursor: default;
}

button:active,
a.button:active {
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.9)
}



/* @end */

/* @group Image */

img {
	outline: none;
	border: none;
}

.documentation img {
	max-width: 85%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

@media only screen and (max-width: 767px) {

.documentation img {
	max-width: 100%;
} }



/* @end */

/* @group Tables */

table {
	border-radius: 4px;
	border-top: 1px solid #ddd;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	margin: 0 0 1.5em;
	font-size: 13px;
	line-height: 20px;
}

td,th {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	padding: 8px;
}

table thead, table tfoot {
	background: #f5f5f5;
}

th {
	background-color: #efefef;
}

table thead tr th:first-child, table tfoot tr td:first-child {
	border-left: none;
}

table thead tr th:last-child, table tfoot tr td:last-child {
	border-right: none;
}

/* @end */

/* @group Brand colours */

@primary-1: #3D617E;
@primary-2: #2F383F;
@primary-3: #192631;
@primary-4: #9CC3E3;
@primary-5: #C1D4E3;

@complement-1: #C39658;
@complement-2: #625647;
@complement-3: #33291A;
@complement-4: #E7CFAE;
@complement-5: #F2E2CB;

/* @end */

/* @group Site layout */

/* @group Main sections */

section.description,
section.documentation,
section.demo {
	border-top: 1px solid #ddd;
	position: relative;
	padding: 1.3em 0 2em 33.3%;
	box-sizing: border-box;
}

/* @group Data source */

section.documentation div[data-src]:before {
	position: absolute;
	content: attr(data-src);
	top: 17px;
	border-bottom: 1px solid #ddd;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: gray;
	padding-left: 8px;
	text-align: right;
	padding-right: 8px;
	width: 250px;
	left: 0;
	font-style: italic;
}



/* @end */

/* @group Description section */

section.description {
	float: left;
	width: 260px;
	z-index: 1;
	text-align: right;
	padding-left: 0;
}

section.description p {
	padding-left: 8px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
}



/* @end */

/* @group Documentation section */

section.documentation {
	clear: both;
}



/* @end */

/* @group Demo section */

section.demo {
	float: right;
	width: 66.66666666%;
	margin-left: -260px;
	padding-left: 8px;
	padding-right: 8px;
}

section.demo h2:first-child {
	margin-right: -8px;
	margin-left: -8px;
}

section.demo:after {
	*zoom: 1;
	content: " ";
	display: table;
	clear: both;
}



/* @end */



/* @end */

/* @group Component index */

#component-index {
	float: left;
	border: 1px solid silver;
	margin-top: 60px;
	margin-bottom: 40px;
	
	
	padding: 33px 20px 25px;
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
	margin-bottom: 40px;
	border-radius: 4px;
	background-color: white;
	width: 900px;
}

#component-index h4 {
	clear: both;
	font-size: 16px;
	margin-top: 0;
}

#demo #component-index {
	margin-top: 0;
}

#component-index a {
	float: left;
	font-size: 12px;
	background-color: #efefef;
	padding: 0;
	text-decoration: none;
	color: gray;
	transition: transform 0.2s;
	line-height: 48px;
	margin-bottom: 20px;
	border: 1px solid #e2e2e2;
	width: 20.8%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 4px;
	margin-right: 1.9%;
	margin-left: 2%;
}

#component-index .behavioural a {
	background-color: #3d607e;
	color: white;
}

#component-index .navigation a {
	background-color: #c37757;
	color: white;
}

#component-index .layout a {
	background-color: #915e79;
	color: white;
}

#component-index .forms a {
	background-color: #9ba476;
	color: white;
}

#component-index .fancy-stuff a {
	background-color: #a59baf;
	color: white;
}

#component-index a.current {
	outline: solid 2px black;
}

#component-index a:before {
	content: " ";
	width: 32px;
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	margin: -5px 10px -3px 8px;
	border-radius: 4px;
	background: #feffff url(../style/component-icons.svg) no-repeat 0 32px;
	border: 1px solid white;
	box-shadow: inset 0 1px 3px silver;
	text-align: center;
	font: italic normal 22px perpetua;
	color: #2F383F;
}

#component-index a sup {
	display: none;
}

#component-index .ajax:before {
	background-position: 0 -416px;
}

#component-index .switching:before {
	
}

#component-index .autofocus:before {
	background-position: 0 0;
}

#component-index .auto-load:before {
	
}

#component-index .auto-submit:before {
	background-position: 0 -32px;
}

#component-index .auto-suggest:before {
	background-position: 0 -64px;
}

#component-index .carousel:before {
	background-position: 0 -96px;
}

#component-index .full-calendar:before {
	background-position: 0 32px;
}

#component-index .toggle:before {
	background-position: 0 -480px;
}

#component-index .collapsible:before {
	background-position: 0 -128px;
}

#component-index .depends:before {
	background-position: 0 -160px;
}

#component-index .tree:before {
	background-position: 0 -192px;
}

#component-index .focus:before {
	background-position: 0 32px;
}

#component-index .form-validation:before {
	background-position: 0 -225px;
}

#component-index .checked-flag:before {
	background-position: 0 -450px;
}

#component-index .checkboxes:before {
	background-position: 0 -255px;
}

#component-index .menu:before {
	background-position: 0 32px;
}

#component-index .modal-panel:before {
	background-position: 0 -287px;
}

#component-index .navigation-marker:before {
	background-position: 0 32px;
}

#component-index .multi-combobox:before {
	background-position: 0 32px;
}

#component-index .placeholder:before {
	background-position: 0 32px;
}

#component-index .self-healing:before {
	background-position: 0 -352px;
}

#component-index .breadcrumbs:before {
	background-position: 0 -320px;
}

#component-index .sorting:before {
	background-position: 0 -383px;
}

#component-index .tooltip:before {
	background-position: 0 32px;
}

#component-index .zoom:before {
	background-position: 0 32px;
}



/* @end */

/* @group Appendix */

#appendix {
	text-align: center;
	padding-bottom: 40px;
	font-size: 12px;
	padding-top: 20px;
}

#appendix a {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	text-decoration: none;
}



/* @end */

/* @group Siteheader */

#site-header img,#site-header blockquote {
	display: none;
}



/* @end */

/* @group Logo */

#logo {
	width: 100px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	width: 46px;
	margin-top: -18px;
}



/* @end */

/* @group Global navigation */

#global-navigation {
	background-color: #2F383F;
	color: #33291A;
	text-align: center;
	line-height: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000;
}

#global-navigation.bumped-top {
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
}

#global-navigation #home {
	position: fixed;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	text-align: center;
	background-color: transparent;
	top: 0;
}

#global-navigation #home img {
	transition: all 0.3s;
	border: 2px solid white;
}

#global-navigation.bumped-top #home img {
	width: 46px;
	margin-top: -18px;
}

#global-navigation #home.bumped-top {
	position: fixed;
	top: 0;
}

#global-navigation a {
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 50%;
	text-align: center;
	color: rgba(254,255,255,0.73);
}

@media only screen and (max-width: 767px) {

#global-navigation a {
	font-size: 12px;
} }

#global-navigation a:hover {
	background-color: rgba(0,0,0,0.18);
}



/* @end */

/* @end */

/* @group Blockquote */

blockquote {
	color: #3c3c3c;
	text-shadow: white 0 1px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	border-left: 4px solid silver;
	margin-left: 8px;
	padding-left: 12px;
}



/* @end */

/* @group Inline code */

p code {
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.10);
	border-radius: 4px;
	color: #5e5e5e;
	text-shadow: #eaeaea 0 1px 0;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #d3d3d3;
	line-height: 1.6;
}



/* @end */

/* @group Code preview */

pre {
	background-color: black;
	border: 1px solid #d3d3d3;
	overflow: auto;
	color: #a0a0a0;
	margin-left: -302px;
	border-right-style: none;
	border-left-style: none;
	padding: 30px 60px;
	margin-bottom: 1.5em;
	font: 16px "Courier New", Courier, mono;
}



/* @end */

/* @group Messages */

.message {
	padding: 8px;
	margin-bottom: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.20);
	display: block;
	border-radius: 4px
}

.message *:last-child {
	margin-bottom: 0;
}

.message.notice {
	background-color: #fdfdc8;
	color: #6f5a44;
	border: 1px solid #d3d4a7;
	padding: 9px;
}

.message.success {
  background-color: #5bb75b;
  color: #ffffff;
}
.message.success:hover {
  background-color: #347834;
  color: #ffffff;
}

.message.warning {
  background-color: #faa732;
  color: #ffffff;
}
.message.warning:hover {
  background-color: #c17305;
  color: #ffffff;
}

.message.warning * {
	color: white !important;
}

.message.error {
  background-color: #da4f49;
  color: #ffffff;
}

.message.error:hover {
  background-color: #9d2520;
  color: #ffffff;
}

.message.error * {
	color: white !important;
}

.message.info {
  background-color: #d9edf7;
  color: #247fad;
}

.message.info:hover {
  background-color: #85c5e5;
}

/* @group Form messages */

.concise .message {
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.comprehensive .message {
	width: 100%;
}

.concise .message.warning {
	background-color: transparent;
	color: #ff8100;
}

/* @end */

/* @group Self healings */

#selfhealing-messages {
  position: fixed;
  top: 15px;
  width: 320px;
  z-index: 10;
	left: 15px;
}

#selfhealing-messages div {
 	background-color: rgba(0,0,0,0.8);
  	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px;
  	border-radius: 5px; /* CSS3 */
	border: 1px solid gray;
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	margin-bottom: 10px;
	padding: 10px;
}

#selfhealing-messages div {
	color: #cccccc;
	padding: 7px;
}

#selfhealing-messages div p {
	margin: 0;
}
/* @end */



/* @end */

/* @group Injection */

.injection-loading {
	opacity: 0;
}



/* @end */

/* @group Typography */

ul,ol,p,dl {
	margin: 0 8px 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font-weight: normal;
	font-style: normal;
}

body>section>h1 {
	margin-bottom: 0;
	font-size: 5em;
	border-top: 1px solid #353f2e;
	padding: 85px 8px 4px 312px;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 0;
	line-height: 1em;
	font-weight: normal;
	font-style: normal;
}

section.documentation h2,
section.demo h2:first-child,
section.description h2 {
	margin-bottom: 1em;
	line-height: 1.3;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding: 0 8px .3em 8px;
	font-size: 1.2em;
}

h3 {
	margin-top: 0;
	font-size: 1.2em;
	line-height: 1.4;
	padding-left: 8px;
	padding-right: 8px;
}

h4 {
	margin-bottom: .8em;
	font-size: 1.3em;
	line-height: 1.6;
}

h5 {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;	
	font-size: 1.2em;
	line-height: 1.6;
}



/* @end */

/* @group Horizontal rule */

hr {
	border:none;
	border-bottom:1px solid silver;
	margin: 2em auto;
	width: 85%;
}



/* @end */

/* @group Anchor */

a {
	color: #3d607d;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}



/* @end */

/* @group Floats */

.float-before {
	float: left;
}

.float-after {
	float: right;
}

img.float-before {
	margin-right: 30px;
}

img.float-after {
	margin-left: 30px;
}

p img {
	margin-top: 5px;
	margin-bottom: -5px;
}



/* @end */

/* @group Forms */

input[type="text"],
input[type="password"]
,textarea {
	vertical-align: baseline;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
	outline: none;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	font: 12px/20px Verdana, "Lucida Grande", Lucida, sans-serif;
	padding-left: 4px;
	display: inline-block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #dedede;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1px;
}

input[type="text"],textarea,label.superImpose {
	cursor: text;
}

label.superImpose,
.concise .superImpose {
	color: #707070;
	display: block;
	margin-left: 7px;
	margin-top: 1px;
	padding: 0 0 1px;
	position: absolute;
	white-space: nowrap;
	border-style: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="time"]:focus,
textarea:focus {
	outline: solid black 1px;
	}

input[type="file"] {
	margin-left: 0px !important;
	background-image: none;
	background-color: transparent;
	border-style: none;
}

select {
	position: relative;
	top: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

form fieldset em.message {
	clear: left;
	float: left;
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 3px 10px;
	color: red;
	font-weight: bold;
}

sup.required {
	color: red;
	display: inline-block;
	margin-top: -10px;
	font-weight: bold;
	font-size: 16px;
}

/* @group Info panels */

.concise .infoPanel {
	margin-left: -16px;
	z-index: 1000;
	position: absolute;
	left: 100%;
	top: auto;
	margin-top: 3px;
}

.concise .infoPanel.open {
	margin-top: 27px;
}

.comprehensive .infoPanel {
	top: 0;
	margin-left: -16px;
}

.comprehensive .infoPanel.open,
.concise .infoPanel.open {
	z-index: 999;
}

fieldset.richInput .infoPanel {
	top: -1px;
}

/* Next statement is to compensate for Firefox' absolute positioning behaviour where it counts in the padding with the positioning */

html.gecko .comprehensive .infoPanel {
	left: 65%;
}



/* @end */

/* @group Fieldsets */

fieldset {
	padding: 0 0 2px;
	border-style: none;
	margin: 0 0 20px;
}

fieldset p.question,
fieldset p.legend,
fieldset legend {
	margin-bottom: 1em;
	font-size: 16px;
	font-weight: bold;
}

/* @group Fieldset Concise */

fieldset.concise,
form.concise fieldset {
	clear: left;
	position: relative;
}

fieldset.concise p.question,
form.concise fieldset p.question,
fieldset.concise legend,
form.concise fieldset legend {
	width: auto;
	margin: 0;
	padding: 0;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}

fieldset.concise label,
form.concise label {
	position: relative;
	float: left;
	padding-right: 65%;
	width: 35%;
	left: 0;
	margin-bottom: 1em;
}

form.concise fieldset label *,
fieldset.concise label *,
form.concise fieldset label *,
fieldset.concise label * {
	position: relative;
	max-width: 320px;
	left: 100%;
	margin-right: -200%;
	margin-left: 0;
	float: left;
}

form.concise fieldset label sup.required,
fieldset.concise label sup.required,
form.concise fieldset label sup.required,
fieldset.concise label sup.required {
	float: none;
	display: inline;
	position: static;
	line-height: 20px;
}

form.concise fieldset label input[type=checkbox],
fieldset.concise label input[type=checkbox] {
	top: 3px;
}

form.concise fieldset label select {
	top: 1px;
}

.concise label textarea {
	width: 170%;
}

.comprehensive textarea {
	width: 100%;
}

/* @end */

/* @group Fieldset Comprehensive */

.comprehensive,
.comprehensive fieldset,
.concise fieldset.comprehensive,
.compact fieldset.comprehensive {
	width: 65%;
	clear: left;
	border-style: none;
	margin: 0;
	margin-bottom: 1em;
	padding-left: 35%;
	padding-bottom: 0;
	position: relative;
	padding-top: 1px;
}

.comprehensive label,
.concise .comprehensive label {
	font-weight: normal;
	font-style: normal;
	position: static;
	margin: 0;
	border-style: none;
	width: auto;
	padding: 0;
	float: none;
}

.concise fieldset.comprehensive,
.condensed fieldset.comprehensive {
	border-bottom-style: none;
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
}

fieldset.comprehensive label *,
form.comprehensive fieldset label *,
form.concise fieldset.comprehensive label *,
form.compact fieldset.comprehensive label * {
	position: static;
	margin: 0;
	float: none;
}

fieldset.comprehensive legend {
	position: absolute;
	left: 0;
	font-weight: normal !important;
	font-style: normal;
}

fieldset.comprehensive p.question,
form.comprehensive fieldset p.question,
fieldset.comprehensive p.legend,
form.comprehensive fieldset p.legend,
form.concise fieldset.comprehensive p.question,
form.compact fieldset.comprehensive p.question {
	width: 48% !important;
	display: inline;
	text-align: left;
	padding: 0;
	position: relative;
	float: left;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0 -54%;
	text-transform: none;
	letter-spacing: 0;
	line-height: 2em;
	font-size: 16px;
}

fieldset.comprehensive label a.floatAfter {
	float: right;
	margin-right: 22px;
}

/* @end */

/* @group Fieldset Condensed */

fieldset.condensed,
form.condensed fieldset {
	clear: left;
	border-style: none;
	margin: 0 0 20px;
}

fieldset.condensed label,
form.condensed fieldset label {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	float: left;
	clear: left;
	margin-bottom: 1em;
}

fieldset.condensed label input,
form.condensed fieldset label input,
fieldset.condensed label textarea {
	float: left;
}

/* @end */

/* @end */

/* @group Form Components */

/* @group date-eu */

.date-eu {

}

.date-eu label {
	display: none;
}

.date-eu input.day {
	width: 21px;
}

.date-eu input.year {
	width: 38px;
}

/* @end */

/* @group Radio List */

.radio-list p.legend,
.radio-list legend {
	font-weight: normal;
	font-style: normal;
}

.radio-list {
	list-style-type: none !important;
}

fieldset.radio-list label,
fieldset.comprehensive.radio-list label   {
	display: block;
	width: auto !important;
	padding-left: 30px;
	margin-bottom: 0;
	float: none;
	margin-left: -10px;
	padding-right: 10px;
	border-radius: 4px;
	margin-right: -10px;
}

.radio-list label input[type="radio"],
form.concise fieldset.comprehensive.radio-list label input[type="radio"] {
	float: none;
	position: relative;
	left: 0;
	top: -2px;
	margin-left: -18px;
}

/* @end */

/* @group Radio Row */

.radioRow {

}

.radioRow label,
label.radioRow {
	display: inline;
	width: auto !important;
	float: left;
	padding-right: 10px !important;
}

.radioRow input,
label.radioRow input {
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 0;
	position: static !important;
}

/* @end */

/* @group Input Row */

ul.inputRow,
ol.inputRow {
	display: inline;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

/* @end */

/* @group Input List */

ul.inputList,
ol.inputList,
ol.radio-list,
ul.radio-list,
ol.checkList,
ul.checkList {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

ul.inputList li,
ol.radio-list li,
ul.radio-list li,
ol.checkList li,
ul.checkList li {
	margin-left: 0;
	padding-left: 0;
	display: block;
}

/* @end */

/* @group Check List */

.checkList {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

fieldset.check-list legend,
.check-list p.legend {
	font-weight: normal;
	font-style: normal;
}

fieldset.check-list label,
fieldset.comprehensive.check-list label {
	display: block;
	width: auto !important;
	padding-left: 30px;
	margin-bottom: 0;
	float: none;
	margin-left: -10px;
	padding-right: 10px;
	border-radius: 4px;
	margin-right: -10px;
}

.checkList label:hover {
	background-color: #efefef;
}

.check-list label input[type="checkbox"],
form.concise fieldset.comprehensive.check-list label input[type="checkbox"] {
	margin-left: -18px;
	float: none;
	position: relative;
	left: 0;
	top: -2px;
}

/* @end */

/* @group Check Row */

ol.checkRow li,
ul.checkRow li,
ol.radioRow li,
ul.radioRow li {
	float: none;
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

ol.checkRow li label,
ul.checkRow li label,
ol.radioRow li label,
ul.radioRow li label {
	display: inline;
}

/* @end */

/* @end */

/* @end */

/* @group Panels */

.panel {
	background: #f2f2f2;
	margin: 0 0 22px 0;
	padding: 20px;
}

.panel > :first-child {
	margin-top: 0;
}

.panel > :last-child {
	margin-bottom: 0;
}

.panel.callout {
	background: #2ba6cb;
	color: #fff;
	border-color: #2284a1;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.panel.callout a {
	color: #fff;
}

.panel.callout .button {
	background: white;
	border: none;
	color: #2ba6cb;
	text-shadow: none;
}

.panel.callout .button:hover, .panel.callout .button:focus {
	background: rgba(255, 255, 255, 0.8);
}

.panel.radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/* @end */
