.pat-checklist {
	label {
		padding-left: 1.5em;
		display: block;

		&.checked:before,
		&.unchecked:before {
			font-family: fontello;
			content: "\e808";
			float: left;
			position: absolute;
			left: 0;
			top: 0.1em;
		}

		&.checked:before {
			content: "\e809";
		}

		input[type="checkbox"],
		input[type="radio"] {
			opacity: 0;
			position: absolute;
		}
	}

	&.radio label {
		&:before {
			content: '\e807';
		}
		&.checked:before {
			content: '\e806';
		}
	}

	fieldset.composed {
		padding-left: 0;
		margin-bottom: 0;
		position: relative;
	}
}