.pat-checklist label {
  padding-left: 1.5em;
  display: block; }
  .pat-checklist label.checked:before, .pat-checklist label.unchecked:before {
    font-family: fontello;
    content: "\e808";
    float: left;
    position: absolute;
    left: 0;
    top: 0.1em; }
  .pat-checklist label.checked:before {
    content: "\e809"; }
  .pat-checklist label input[type="checkbox"],
  .pat-checklist label input[type="radio"] {
    opacity: 0;
    position: absolute; }
.pat-checklist.radio label:before {
  content: '\e807'; }
.pat-checklist.radio label.checked:before {
  content: '\e806'; }
.pat-checklist fieldset.composed {
  padding-left: 0;
  margin-bottom: 0;
  position: relative; }
