*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* @group Panels */

.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }



/* @end */

/* @group The Grid */

.row {
	width: 940px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0 -15px;
}

.row.collapse .column, .row.collapse .columns {
	padding: 0;
}

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin: 0 -15px;
}

.row .row.collapse {
	margin: 0;
}

.column, .columns {
	float: left;
	min-height: 1px;
	padding: 0 15px;
	position: relative;
}

.column.centered, .columns.centered {
	float: none;
	margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
	float: right;
}

[class*="column"] + [class*="column"].end {
	float: left;
}

.one, .row .one {
	width: 8.33333%;
}

.two, .row .two {
	width: 16.66667%;
}

.three, .row .three {
	width: 25%;
}

.four, .row .four {
	width: 33.33333%;
}

.five, .row .five {
	width: 41.66667%;
}

.six, .row .six {
	width: 50%;
}

.seven, .row .seven {
	width: 58.33333%;
}

.eight, .row .eight {
	width: 66.66667%;
}

.nine, .row .nine {
	width: 75%;
}

.ten, .row .ten {
	width: 83.33333%;
}

.eleven, .row .eleven {
	width: 91.66667%;
}

.twelve, .row .twelve {
	width: 100%;
}

.row .offset-by-one {
	margin-left: 8.33333%;
}

.row .offset-by-two {
	margin-left: 16.66667%;
}

.row .offset-by-three {
	margin-left: 25%;
}

.row .offset-by-four {
	margin-left: 33.33333%;
}

.row .offset-by-five {
	margin-left: 41.66667%;
}

.row .offset-by-six {
	margin-left: 50%;
}

.row .offset-by-seven {
	margin-left: 58.33333%;
}

.row .offset-by-eight {
	margin-left: 66.66667%;
}

.row .offset-by-nine {
	margin-left: 75%;
}

.row .offset-by-ten {
	margin-left: 83.33333%;
}

.push-two {
	left: 16.66667%;
}

.pull-two {
	right: 16.66667%;
}

.push-three {
	left: 25%;
}

.pull-three {
	right: 25%;
}

.push-four {
	left: 33.33333%;
}

.pull-four {
	right: 33.33333%;
}

.push-five {
	left: 41.66667%;
}

.pull-five {
	right: 41.66667%;
}

.push-six {
	left: 50%;
}

.pull-six {
	right: 50%;
}

.push-seven {
	left: 58.33333%;
}

.pull-seven {
	right: 58.33333%;
}

.push-eight {
	left: 66.66667%;
}

.pull-eight {
	right: 66.66667%;
}

.push-nine {
	left: 75%;
}

.pull-nine {
	right: 75%;
}

.push-ten {
	left: 83.33333%;
}

.pull-ten {
	right: 83.33333%;
}

/* @end */

/* @group Micro clearfix */

/* Nicolas Gallagher's micro clearfix */

.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

/* @end */

