@mixin pat-avatar($border-radius: 50%, $border: 0.055556em solid rgba(0,0,0,0.2), $height: 2em, $width: 2em) {
    display: inline-block;
    overflow: hidden;
    border-radius: $border-radius;
    border: $border;
    height: $height;
    width: $width;
    img {
        width: 100%;
    }
}

@mixin clear-fix() {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}