// ----- Taken from _settings.scss -----
// Assets
//@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(/style/fonts/font.css);

// Colours
// $felt: #89AA74;
$felt: #565656;
$colour-alert: red;
$colour-accent: #0198E1;

// Font treatment
$base-font-size: 18px;
$base-line-height: 150%;
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these to control various global styles
$body-font-family: 'Source Sans Pro', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

// Categories
$cat-behavioural: #717dd7;
$cat-fancy-stuff: #bf9230;
$cat-form: #be9ac1;
$cat-layout: #a1ced2;

// Breakpoints
$mobile: 768px;
// ------------- Until here ---------------

// Colours

$colour-alert: red !default;
$colour-success: green !default;
$colour-notice: #FFFFD6 !default;
$colour-warning: orange !default;

// Responsive variables

$break-small: 768px !default;
$break-large: 769px !default;
