@import url("../checklist/checklist.css");

/* @group Checked flag */

label.checked {

    transition: color 0.1s ease;
	background-color: #e4f4e4;
	color: #6e766e;
}

label.unchecked {
    transition: background-color 0.5s ease;
}

/* @end */


