@charset "UTF-8";

 
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */
.icon-dot-circled:before { content: '\e806'; } /* '' */
.icon-circle-empty:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-patterns-logo:before { content: '󡀀'; } /* '\e1000' */
.icon-bookmark:before { content: '󡀁'; } /* '\e1001' */
.icon-download:before { content: '󡀂'; } /* '\e1002' */