@charset "UTF-8";


.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-pencil-alt:before { content: '\2710'; } /* '✐' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-qrcode:before { content: '\e791'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-gift:before { content: '🎁'; } /* '\1f381' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-tools:before { content: '🔧'; } /* '\1f527' */