@mixin pat-separator(
  $height: 0.05em,
  $margin: 1em 10%,
  $colour: rgba(0, 0, 0, 0.5)
) {
  background-color: $colour;
  height: $height;
  border: none;
  display: block;
  margin: $margin;
  clear: both;

  &.blank {
    background-color: transparent;
  }
}

.pat-separator {
  @include pat-separator();
}
