/* @group Collapsible */

.pat-collapsible > *:first-child {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	line-height: 25px;

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	border: 1px solid #d7d7d7;
	border-right-style: none;
	border-left-style: none;
	color: #515151;
	text-shadow: white 0 1px 0;
	letter-spacing: 1px;
}

.pat-collapsible > *:first-child:before {
	content: "▼";
	width: 18px;
	display: inline-block;
}

.pat-collapsible.closed > *:first-child:before {
	content: "▶";
}

.pat-collapsible > .panel-content {
	padding-top: 10px;
	padding-bottom: 20px;
}



/* @end */

