@import "src/pat/checklist/checklist";

label.valid,fieldset.valid {
    background-color: #f5fff5;
}

label.warning,fieldset.warning {
    background-color: #ffefe6;
}

/* @group Form messages */

form em.validation.message {
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}

.horizontal label em.validation.message {
	clear: both;
	width: 185%;
}

/* @end */
