/* @group Bumper */

.pat-bumper .message .info {
    margin-left: 8px;
    width: 589px;
    z-index: 1000
}

.pat-bumper {
}

.bumped {
	z-index: 1;
}

.bumped-top {
	top: 40px;
}

.bumped-bottom {
    bottom: 40px;
}

.bumped-right {
    right: 40px;
}

.bumped-left {
    left: 40px;
}

/* @end */
