/* @group Bumper */

.pat-bumper {
}

.bumped {
	position: fixed !important;
	z-index: 1;
}

.bumped-top {
	top: 40px;
}

.bumped-bottom {
    bottom: 40px;
}

.bumped-right {
    right: 40px;
}

.bumped-left {
    left: 40px;
}

/* @end */