body {	
	font: 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 60px 40px 40px;
	width: 910px;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

.injection-loading {
	opacity: 0;
}

/* @group Expandable tree */

ul.expandable {
	background-color: #f9f9f9;
	list-style-type: none;
	padding: 10px;
	margin-left: 0;
}

ul.expandable li li {
	display: block;
	padding-left: 30px;
}

ul.expandable li span.toggle {
	width: 20px;
	height: 20px;
	float: left;
	font-size: 12px;
	line-height: 23px;
}

span.toggle:before {
	content: "▶";
}

.open > span.toggle:before {
	content: "▼";
	width: 18px;
	display: inline-block;
}

ul.expandable li ul {
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	padding: 0;
	display: none;
}

ul.expandable li.open > ul {
	display: block;
}

ul.expandable li a {
	display: block;
}



/* @end */

/* @group Messages */

.message {
	padding: 8px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	display: block;
}

.message *:last-child {
	margin-bottom: 0;
}

.message.notice {
	background-color: #fdfdc8;
	color: #6f5a44;
	border: 1px solid #d3d4a7;
	padding: 9px;
}

.message.success {
	background-color: #b4ff8e;
	color: #405f31;
}

.message.warning {
	background-color: #ff8100;
	color: white;
}

.message.warning * {
	color: white !important;
}

.message.error {
	background-color: red;
	color: white;
}

.message.error * {
	color: white !important;
}

/* @group Form messages */

.concise .message {
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.comprehensive .message {
	width: 100%;
}

.concise .message.warning {
	background-color: transparent;
	color: #ff8100;
}

/* @end */

/* @group Self healings */

#selfhealing-messages {
  position: fixed;
  top: 15px;
  width: 320px;
  z-index: 10;
	left: 15px;
}

#selfhealing-messages div {
 	background-color: rgba(0,0,0,0.8);
  	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px;
  	border-radius: 5px; /* CSS3 */
	border: 1px solid gray;
	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	margin-bottom: 10px;
	padding: 10px;
}

#selfhealing-messages div {
	color: #cccccc;
	padding: 7px;
}

#selfhealing-messages div p {
	margin: 0;
}
/* @end */



/* @end */

/* @group Typography */

ul,ol,p,table,dl {
	margin-bottom: 24px;
}



/* @end */

/* @group Headers */

h1 {
	font-size: 30px;
	margin-bottom: 24px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 1px;
}



/* @end */

/* @group Anchor */

a {
	color: #7291ff;
}



/* @end */

/* @group Link */



/* @end */

/* @group Floats */

.floatBefore {
	float: left;
}

.floatAfter {
	float: right;
}

img.floatBefore {
	margin-right: 10px;
}

img.floatAfter {
	margin-left: 10px;
}

p img {
	margin-top: 5px;
	margin-bottom: -5px;
}



/* @end */

/* @group Forms */

input[type="text"],
input[type="password"]
,textarea {
	vertical-align: baseline;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
	outline: none;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	font: 12px/20px Verdana, "Lucida Grande", Lucida, sans-serif;
	padding-left: 4px;
	display: inline-block;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #dedede;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1px;
}

input[type="text"],input[type="password"] {
	line-height: 20px;
	width: 230px;
}

input[type="text"],textarea,label.superImpose {
	cursor: text;
}

label.superImpose,
.concise .superImpose {
	color: #707070;
	display: block;
	margin-left: 7px;
	margin-top: 1px;
	padding: 0 0 1px;
	position: absolute;
	white-space: nowrap;
	border-style: none;
}

input:focus,
textarea:focus {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background: -o-gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	background:-moz-linear-gradient(19% 75% 90deg,whiteFFF, whiteFFF, whiteFFF 100%);
	background: gradient(linear, 0% 0%, 0% 100%, from(whiteFFF), to(whiteFFF));
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input[type="file"] {
	margin-left: 0px !important;
	background-image: none;
	background-color: transparent;
	border-style: none;
}

select {
	position: relative;
	top: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
}

input[type="checkbox"],
input[type="radio"]{
	background: none!important;
	border: none;
}

form fieldset em.message {
	clear: left;
	float: left;
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 3px 10px;
	color: red;
	font-weight: bold;
}

sup.required {
	color: red;
	display: inline-block;
	margin-top: -10px;
	font-weight: bold;
	font-size: 16px;
}

/* @group Info panels */

.concise .infoPanel {
	margin-left: -16px;
	z-index: 1000;
	position: absolute;
	left: 100%;
	top: auto;
	margin-top: 3px;
}

.concise .infoPanel.open {
	margin-top: 27px;
}

.comprehensive .infoPanel {
	top: 0;
	margin-left: -16px;
}

.comprehensive .infoPanel.open,
.concise .infoPanel.open {
	z-index: 999;
}

fieldset.richInput .infoPanel {
	top: -1px;
}

/* Next statement is to compensate for Firefox' absolute positioning behaviour where it counts in the padding with the positioning */

html.gecko .comprehensive .infoPanel {
	left: 65%;
}



/* @end */

/* @group Fieldsets */

fieldset {
	padding: 0 0 2px;
	border-style: none;
	margin: 0 0 20px;
}

fieldset p.question,
fieldset p.legend {
	width: 95% !important;
	font-weight: bold;
	color: #3f3f3f;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* @group Fieldset Concise */

fieldset.concise,
form.concise fieldset {
	clear: left;
	position: relative;
}

fieldset.concise p.question,
form.concise fieldset p.question,
fieldset.concise legend,
form.concise fieldset legend {
	width: auto;
	margin: 0;
	padding: 0;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}

fieldset.concise label,
form.concise label {
	position: relative;
	float: left;
	padding-right: 65%;
	width: 35%;
	left: 0;
	margin-bottom: 10px;
	padding-top: 1px;
}

form.concise fieldset label *,
fieldset.concise label *,
form.concise fieldset label *,
fieldset.concise label * {
	position: relative;
	vertical-align: top;
	max-width: 320px;
	left: 100%;
	margin-right: -200%;
	margin-left: 0;
	float: left;
}

form.concise fieldset label sup.required,
fieldset.concise label sup.required,
form.concise fieldset label sup.required,
fieldset.concise label sup.required {
	float: none;
	display: inline;
	position: static;
	line-height: 20px;
}

form.concise fieldset label input[type=checkbox],
fieldset.concise label input[type=checkbox] {
	top: 3px;
}

form.concise fieldset label select {
	top: 1px;
}

.concise label textarea {
	width: 170%;
}

.comprehensive textarea {
	width: 100%;
}

/* @end */

/* @group Fieldset Comprehensive */

fieldset.condensed p.question {
	width: auto;
	margin: 0;
	letter-spacing: 0;
	text-transform: none;
}

.comprehensive,
.comprehensive fieldset,
.concise fieldset.comprehensive,
.compact fieldset.comprehensive {
	width: 65%;
	clear: left;
	border-style: none;
	margin: 0;
	margin-bottom: 10px;
	padding-left: 35%;
	padding-bottom: 0;
	position: relative;
	padding-top: 1px;
}

fieldset.comprehensive legend {
	position: absolute;
	left: 260px;
	font-weight: normal;
	font-style: normal;
}

fieldset.comprehensive label,
form.comprehensive fieldset label,
form.concise fieldset.comprehensive label,
form.compact fieldset.comprehensive label {
	font-weight: normal;
	font-style: normal;
	position: static;
	margin: 0;
	border-style: none;
	width: auto;
	padding: 0;
	float: none;
}

.concise fieldset.comprehensive,
.condensed fieldset.comprehensive {
	border-bottom-style: none;
	margin: 0 0 10px;
	padding-bottom: 0 !important;
	padding-top: 1px;
	height: auto;
}

fieldset.comprehensive label *,
form.comprehensive fieldset label *,
form.concise fieldset.comprehensive label *,
form.compact fieldset.comprehensive label * {
	position: static;
	margin: 0;
	float: none;
}

fieldset.comprehenisve input[type="radio"],
.concise fieldset.comprehensive input[type="radio"] {
	margin-top: 3px;
}

fieldset.comprehenisve input[type="checkbox"],
.concise fieldset.comprehensive input[type="checkbox"] {
	margin-top: 3px;
}

fieldset.comprehensive p.question,
form.comprehensive fieldset p.question,
fieldset.comprehensive p.legend,
form.comprehensive fieldset p.legend,
form.concise fieldset.comprehensive p.question,
form.compact fieldset.comprehensive p.question {
	width: 48% !important;
	display: inline;
	text-align: left;
	padding: 0;
	position: relative;
	float: left;
	font-weight: normal;
	font-style: normal;
	color: black;
	margin: 0 0 0 -54%;
	text-transform: none;
	letter-spacing: 0;
}

fieldset.comprehensive label a.floatAfter {
	float: right;
	margin-right: 22px;
}

/* @end */

/* @group Fieldset Condensed */

fieldset.condensed,
form.condensed fieldset {
	clear: left;
	border-style: none;
	margin: 0 0 20px;
}

fieldset.condensed label,
form.condensed fieldset label {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	margin-bottom: 20px;
	float: left;
	clear: left;
}

fieldset.condensed label input,
form.condensed fieldset label input,
fieldset.condensed label textarea {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

fieldset.condensed fieldset p.question {
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @end */

/* @group Form Components */

/* @group date-eu */

.date-eu {

}

.date-eu label {
	display: none;
}

.date-eu input.day {
	width: 21px;
}

.date-eu input.year {
	width: 38px;
}

/* @end */

/* @group Radio List */

.radio-list {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.radio-list label {
	display: block;
	width: auto !important;
	padding-left: 18px !important;
}

.radio-list label input[type="radio"],
form.concise fieldset.radio-list label input[type="radio"] {
	margin-left: -18px;
	float: left;
}

.portlet .radio-list label input {
	margin-top: 2px !important;
}

/* @end */

/* @group Radio Row */

.radioRow {

}

.radioRow label,
label.radioRow {
	display: inline;
	width: auto !important;
	float: left;
	padding-right: 10px !important;
}

.radioRow input,
label.radioRow input {
	margin-top: 4px;
	margin-right: 5px;
	margin-bottom: 0;
	position: static !important;
}

/* @end */

/* @group Input Row */

ul.inputRow,
ol.inputRow {
	display: inline;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

/* @end */

/* @group Input List */

ul.inputList,
ol.inputList,
ol.radio-list,
ul.radio-list,
ol.checkList,
ul.checkList {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none !important;
}

ul.inputList li,
ol.radio-list li,
ul.radio-list li,
ol.checkList li,
ul.checkList li {
	margin-left: 0;
	padding-left: 0;
	display: block;
}

/* @end */

/* @group Check List */

.checkList {
	list-style-type: none !important;
	margin: 0 0 20px;
	padding-bottom: 4px !important;
}

.checkList label,
html>body fieldset.comprehensive.checkList label {
	display: block;
	width: auto !important;
	padding-left: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.checkList label:hover {
	background-color: #efefef;
}

html>body fieldset.comprehensive.checkList label input {
	float: left;
	position: static !important;
	margin: 4px 5px 0 0 !important;
	margin-left: -20px!important;
}

.portlet .checkList input {
	margin-top: 3px;
}

.checkList .column-1-of-3,
.checkList .column-2-of-3,
.checkList .column-3-of-3 {
	padding: 0;
	float: left;
	width: 140px;
	clear: none;
	font-size: 10px;
}

/* @end */

/* @group Check Row */

ol.checkRow li,
ul.checkRow li,
ol.radioRow li,
ul.radioRow li {
	float: none;
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

ol.checkRow li label,
ul.checkRow li label,
ol.radioRow li label,
ul.radioRow li label {
	display: inline;
}

/* @end */

/* @end */

/* @end */

/* @group Patterns */

/* @group Tooltip */

.tooltip-container .closePanel{
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: 100px;
    overflow: hidden;
    padding: 0px;
    background: #b3ac9b;
    -webkit-border-radius: 3px;
    display: block;
    height: 15px;
    width: 15px;
    z-index: 3;
    border: none;
  }

.tooltip-container .closePanel:hover {
	background-color: #7f7c71;
}
  
  .tooltip-container .closePanel:before {
    content: "×";
	color: white;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	font-size: 13px;
	line-height: 12px;
	text-align: center;
	width: 15px;
	height: 15px;
	font-weight: bold;
}

  .tooltip-container {
    position: absolute;
    z-index: 1001;
    border: none;
    min-height: 50px;
    overflow: visible;
    overflow-x: visible;
    margin: 0;
    border: 1px solid silver;
-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	width: 300px;
}

  .tooltip-container .pointer{
    height: 20px;
    width: 20px;
    display: block;
    background-color: #fdfdc8;
    border: 1px solid #e9df63;
    z-index: 0;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 10px;
    -moz-transform: rotate(45deg);
    -moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 10px;
  }

  .tooltip-container > div{
    padding: 10px!important;
    z-index: 1;
    position: relative;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 50px;
    background-color: #FDFDC8;
    overflow-y: auto;
  }

.tooltip-container > div:after {
	content: "";
	display: block;
	clear: both;
}

  .tooltip-container.bl .pointer,
  .tooltip-container.bm .pointer,
  .tooltip-container.br .pointer{
    margin-top: -12px;
  }
  .tooltip-container.lt .pointer,
  .tooltip-container.lm .pointer,
  .tooltip-container.lb .pointer{
    margin-left: 12px;

  }
  .tooltip-container.tl .pointer,
  .tooltip-container.tm .pointer,
  .tooltip-container.tr .pointer{
    margin-top: 12px;
  }
  .tooltip-container.rt .pointer,
  .tooltip-container.rm .pointer,
  .tooltip-container.rb .pointer{
    margin-left: -12px;
  }

  .tooltip-container.lt .pointer,
  .tooltip-container.rt .pointer{
    margin-top: 20px;
  }
  .tooltip-container.lb .pointer,
  .tooltip-container.rb .pointer{
    margin-top: -20px;
  }
  .tooltip-container.tl .pointer,
  .tooltip-container.bl .pointer{
    margin-left: 20px;
  }
  .tooltip-container.tr .pointer,
  .tooltip-container.br .pointer{
    margin-left: -20px;
  }

  .tooltip-container h4{
    color: #fff;
  }



/* @end */

/* @group Collapsible */

.collapsible > *:first-child {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	line-height: 25px;

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	border: 1px solid #d7d7d7;
	border-right-style: none;
	border-left-style: none;
	color: #515151;
	text-shadow: white 0 1px 0;
	letter-spacing: 1px;
}

.collapsible > *:first-child:before {
	content: "▼";
	width: 18px;
	display: inline-block;
}

.collapsible.closed > *:first-child:before {
	content: "▶";
}

.collapsible > .panel-content {
	padding-top: 10px;
	padding-bottom: 20px;
}



/* @end */



/* @end */

/* @group Focus pattern demo */

fieldset.pt-focus {
    background-color: #efefef;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

label.pt-focus {
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
	background-color: #ddeefe;
}

/* @end */

/* @group Checkedflag pattern demo */

label.pt-checked {
    color: #000;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

label.pt-unchecked {
    color: #ccc;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

/* @end */

/* @group Fullcalendar plugin CSS */

/*
 * FullCalendar v1.5.2 Stylesheet
 *
 * Copyright (c) 2011 Adam Shaw
 * Dual licensed under the MIT and GPL licenses, located in
 * MIT-LICENSE.txt and GPL-LICENSE.txt respectively.
 *
 * Date: Sat Nov 19 18:21:10 2011 -0800
 *
 */


.fc {
	direction: ltr;
	text-align: left;
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
	}

.fc-header-left {
	width: 25%;
	text-align: left;
	}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	}
	
.fc .fc-header-space {
	padding-left: 10px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right {
	margin-right: 1px; /* back to normal */
	}
	
.fc-header .ui-corner-right {
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	}
	
.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
	overflow: hidden;
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #ccc;
	}
	
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #ffc;
	}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #9cf;
	opacity: .2;
	filter: alpha(opacity=20); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	}
	
.fc-state-default { /* non-theme */
	border-style: solid;
	border-width: 1px 0;
	}
	
.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
	}
	
.fc-state-default .fc-button-inner { /* non-theme */
	border-style: solid;
	border-width: 0 1px;
	}
	
.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap;
	}
	
/* icon (for jquery ui) */
	
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}
	
/* gloss effect */
	
.fc-state-default .fc-button-effect {
	position: absolute;
	top: 50%;
	left: 0;
	}
	
.fc-state-default .fc-button-effect span {
	position: absolute;
	top: -100px;
	left: 0;
	width: 500px;
	height: 100px;
	border-width: 100px 0 0 1px;
	border-style: solid;
	border-color: #fff;
	background: #444;
	opacity: .09;
	filter: alpha(opacity=9);
	}
	
/* button states (determines colors)  */
	
.fc-state-default,
.fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #ccc #bbb #aaa;
	background: #F3F3F3;
	color: #000;
	}
	
.fc-state-hover,
.fc-state-hover .fc-button-inner {
	border-color: #999;
	}
	
.fc-state-down,
.fc-state-down .fc-button-inner {
	border-color: #555;
	background: #777;
	}
	
.fc-state-active,
.fc-state-active .fc-button-inner {
	border-color: #555;
	background: #777;
	color: #fff;
	}
	
.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
	color: #999;
	border-color: #ddd;
	}
	
.fc-state-disabled {
	cursor: default;
	}
	
.fc-state-disabled .fc-button-effect {
	display: none;
	}
	
	

/* Global Event Styles
------------------------------------------------------------------------*/
	 
.fc-event {
	border-style: solid;
	border-width: 0;
	font-size: .85em;
	cursor: default;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
a.fc-event {
	text-decoration: none;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}
	
.fc-event-skin {
	border-color: #36c;     /* default BORDER color */
	background-color: #36c; /* default BACKGROUND color */
	color: #fff;            /* default TEXT color */
	}
	
.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc .ui-resizable-handle { /*** TODO: don't use ui-resizable anymore, change class ***/
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
	
.fc-corner-left {
	margin-left: 1px;
	}
	
.fc-corner-left .fc-button-inner,
.fc-corner-left .fc-event-inner {
	margin-left: -1px;
	}
	
.fc-corner-right {
	margin-right: 1px;
	}
	
.fc-corner-right .fc-button-inner,
.fc-corner-right .fc-event-inner {
	margin-right: -1px;
	}
	
.fc-corner-top {
	margin-top: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	margin-top: -1px;
	}
	
.fc-corner-bottom {
	margin-bottom: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
	}
	
	
	
/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
	
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
	}
	
.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	}
	
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}
	
.fc-event-vert .fc-event-head,
.fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity=30);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
	
/* @end */
