@charset "UTF-8";
.pat-expandable {
  background-color: #f9f9f9;
  list-style-type: none;
  padding: 10px;
  margin-left: 0; }
  .pat-expandable li li {
    display: block;
    padding-left: 30px; }
  .pat-expandable li span.toggle {
    width: 1.2em;
    height: 1.2em;
    float: left;
    font-size: 1em;
    line-height: 1.2em; }
  .pat-expandable li ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    display: none; }
  .pat-expandable li.open > ul, .pat-expandable li a {
    display: block; }
  .pat-expandable span.toggle:before {
    content: "▶"; }
  .pat-expandable .open > span.toggle:before {
    content: "▼";
    display: inline-block; }
