/* @group Checked flag */

label.checked {
    color: #000;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

label.unchecked {
    color: #ccc;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

/* @end */


