/* @group Throbber */

.injecting * {
  opacity: 0.19;
}

.injecting:before {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '\e838';
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1000;
  font: 50px/50px fontello;
  text-shadow: white 0 0 2px;
  text-align: center;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;}

/* @end */