/* @group Tooltip */

.tooltip-container .close-panel{
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: 100px;
    overflow: hidden;
    padding: 0px;
    background: #b3ac9b;
    -webkit-border-radius: 3px;
    display: block;
    height: 15px;
    width: 15px;
    z-index: 3;
    border: none;
  }

.tooltip-container .close-panel:hover {
	background-color: #7f7c71;
}
  
  .tooltip-container .close-panel:before {
    content: "×";
	color: white;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	font-size: 13px;
	line-height: 12px;
	text-align: center;
	width: 15px;
	height: 15px;
	font-weight: bold;
}

  .tooltip-container {
    position: absolute;
    z-index: 1001;
    border: none;
    min-height: 50px;
    overflow: visible;
    overflow-x: visible;
    margin: 0;
    border: 1px solid silver;
-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
	width: 300px;
}

  .tooltip-container .pointer{
    height: 20px;
    width: 20px;
    display: block;
    background-color: #fdfdc8;
    border: 1px solid #e9df63;
    z-index: 0;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 10px;
    -moz-transform: rotate(45deg);
    -moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 10px;
  }

  .tooltip-container > div{
    padding: 10px!important;
    z-index: 1;
    position: relative;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 50px;
    background-color: #FDFDC8;
    overflow-y: auto;
  }

.tooltip-container > div:after {
	content: "";
	display: block;
	clear: both;
}

  .tooltip-container.bl .pointer,
  .tooltip-container.bm .pointer,
  .tooltip-container.br .pointer{
    margin-top: -12px;
  }
  .tooltip-container.lt .pointer,
  .tooltip-container.lm .pointer,
  .tooltip-container.lb .pointer{
    margin-left: 12px;

  }
  .tooltip-container.tl .pointer,
  .tooltip-container.tm .pointer,
  .tooltip-container.tr .pointer{
    margin-top: 12px;
  }
  .tooltip-container.rt .pointer,
  .tooltip-container.rm .pointer,
  .tooltip-container.rb .pointer{
    margin-left: -12px;
  }

  .tooltip-container.lt .pointer,
  .tooltip-container.rt .pointer{
    margin-top: 20px;
  }
  .tooltip-container.lb .pointer,
  .tooltip-container.rb .pointer{
    margin-top: -20px;
  }
  .tooltip-container.tl .pointer,
  .tooltip-container.bl .pointer{
    margin-left: 20px;
  }
  .tooltip-container.tr .pointer,
  .tooltip-container.br .pointer{
    margin-left: -20px;
  }

  .tooltip-container h4{
    color: #fff;
  }



/* @end */

