.green {
	background-color: #23bf42;
}

.blue {
	background-color: #94bfdd;
}

.red {
	background-color: #cf6400;
}

.blue, .red, .green {
	display: inline-block;
	padding: 5px 15px;
	color: white;
}


